[2018-09-03 17:39] wtmoose commented on #216
Thanks for the suggestion. I'll look into it when I get a chance.

[2018-09-03 18:08] Jasperav commented on #216
@wtmoose  Thank you very much. Maybe you can also have a look ad adding the dragging at the eventListeners enum. I got the following issue:

I got a tableview inside the centered view. When the user taps on one of the cells, the cell gets highlighted. If the user now drag around his finger, the tableview will drag with his finger (which is great). However, when the user stops dragging and releases

[2018-09-04 00:03] wtmoose commented on #216
I'm a little confused by your last comment. Scroll views have their own gesture recognizers, so I don't see why you'd want your table view's behavior to depend on SwiftMessages.

[2018-09-04 04:13] dsowsy opened #217 "Allow orientation to be passed in as a config parameter"
Apple has made a proper mess of handling device orientation and there's a lot of evidence of many difference approaches people have come up with over the years in an attempt to work around dealing with fixed and rotatable VC's, and your implementation depends on the app.statusBarOrientation which is deprecated (Apple giveth, Apple taketh away), viewWillTransition which sorta works on size classes,

[2018-09-04 13:53] wtmoose commented on #217
SwiftMessages only looks at the orientation on iOS 10 and below to make adjustments when displayed below the status bar. Given that this has never come up before, I'm leaning toward a workaround on your end rather than adding an API in support of old platforms.

If you detect a scenario where the message view is going to appear below the status bar, can you just add 20pt?

[code]

[2018-09-04 15:06] edwardmp opened #218 "Several Safe Area related warnings in MarginAdjustable+Animation.swift"
Hi,

Thanks for creating this!

The latest release triggers a few Xcode warnings in my project in the file `MarginAdjustable+Animation.swift`:
[code]
The deprecation warnings are coming from elsewhere in SwiftMessages. Is this intentional or..?

[2018-09-04 15:10] wtmoose commented on #218
SwiftMessages needs to maintain backward compatibility with deprecated APIs for a period of time. Unfortunately, Swift doesn't provide a mechanism to mute warnings, so I don't think anything can be done about it.

[2018-09-04 15:13] edwardmp commented on #218
@wtmoose

Okay that makes sense. But why can't the use of `safeAreaTopOffset/safeAreaTopOffset` just be replaced by `topLayoutMarginAddition/bottomLayoutMarginAddition` in this case?

[2018-09-04 15:15] wtmoose commented on #218
They're public APIs, so the normal thing to do is to deprecate them for a period of time before removing them in order to give people time to migrate.

[2018-09-04 15:18] edwardmp commented on #218
@wtmoose
I understand that generally, but not in this case. Here it's an implementation detail that can easily be changed? Or am I missing something? It's not like a method name or something that's really part of the public API.

[2018-09-04 16:26] edwardmp commented on #218
@wtmoose
Yes, but that does only apply if one uses `safeAreaTopOffset` in their own project directly, right? I'm now referring solely to the use in `MarginAdjustable+Animation`, which seems avoidable.

[2018-09-04 16:28] wtmoose commented on #218
I see how to maintain backward compatibility without reading the values.

[2018-09-05 21:39] dsowsy commented on #217
Ah, I'm on iOS 11 and 12 betas. I see what you're getting at but the problem isn't the status bar itself, but the orientation in which the messageView shows up is just wrong for a locked orientation. I have a workaround but its a bit hacky, I'l see if I can come up with a clear example. Thanks!

[2018-09-06 10:11] Jasperav opened #219 "Possibility to have multiple presenting centered views"
It would be great if I can present multiple centered views, without the one waiting for another. I got a tableView which displays the messages the user has. This is a centered view. When the user clicks one of the cells, I want to present them the message in a new view. That view should also be a centered view. However, nothing happens when I tap on the cell because the new view is enqueued.

Only

[2018-09-06 13:45] wtmoose commented on #219
Are you wanting the views to be layered on top of each other or have the new view replace the previous one?

[2018-09-06 13:47] wtmoose commented on #217
Did you delete a message? I thought I got your issue is after reading the message, but not sure now.

[2018-09-06 14:15] Jasperav commented on #219
It would be better that the views are on top of eachother. The first view is the tableview which displays the messages the user has. The second view is the message itself. That view should be on top of the first view (the tableview).

[2018-09-06 18:39] 0xacdc opened #220 "Present SwiftMessages above navigationBar without using UIWindow"
Is it possible to use config.presentationContext as UIView or UIViewController and present message above the navigationBar ?

[2018-09-06 18:59] wtmoose commented on #220
I think `.view()` should work using the navigation view controller's view. But I haven't tried it.

[2018-09-06 19:08] 0xacdc commented on #220
config.presentationContext = .view(vc.navigationController!.navigationBar)
 config.presentationContext = .view(vc.navigationController!.view)

both cases doesn't work, other ideas ?

[2018-09-06 20:13] tomasbek opened #221 "Message Over the Status Bar"
Hello,

I need to show a message over the status bar. However, the message covers navigation button on the iPhone X as you can see in this screenshot:
![simulator screen shot - iphone x - 2018-09-06 at 23 07 02](https://user-images.githubusercontent.com/14822950/45182554-4f15cf00-b22a-11e8-9c2b-d0de441544b7.jpg)
The configuration I use is as follows:

What could be done to avoid this problem?

Tha

[2018-09-06 20:18] wtmoose commented on #221
Why not reduce the height of the message?

[2018-09-06 20:27] tomasbek commented on #221
The size is fine for all models except for X. I guess that the message is “higher” on the X due to the notch.

[2018-09-06 21:37] wtmoose commented on #221
SwiftMessages layouts don't put content in safe areas. You can adjust `messageView.layoutMarginAdditions.top` on a per-device basis if the default layout don't work for you.

[2018-09-06 22:09] dsowsy commented on #217
I've found a workaround for the orientation with autolayout, however the statusbar is in fact a problem, I looked after you made mention of it. Would it be a good idea to add a config option that sets the value of the prefersStatusBarHidden in SwiftMessages.WindowViewController?

[2018-09-06 23:46] wtmoose commented on #217
See #164

[2018-09-07 06:36] tomasbek commented on #221
@wtmoose, thank you very much for your suggestion. I have added this line of the code to solve the problem for the iPhone X:

For all the other models I set the top margin to 0.

Thanks again for your guidance!

[2018-09-07 09:30] #220 closed

[2018-09-07 13:40] wtmoose commented on #220
Hmm. That's not nice. Thanks for investigating.

[2018-09-07 13:50] wtmoose commented on #221
Glad it worked.

In SwiftMessages 4, the layout you're using (it looks like `.statusLine`) did not cover the navigation bar. However, I made a global change in SwiftMessages 5 to keep content out of the safe area based on feedback from one of my designers. But after thinking about it more, this layout seems like a good case to break that rule and allow the label into the safe area. So I may revert

[2018-09-07 15:42] #217 closed

[2018-09-08 00:54] Michele404 opened #222 "MarginAdjustable+Animation.swift:16:17: 'safeAreaTopOffset' is deprecated on iOS: Use the `topLayoutMarginAddition` instead."
MarginAdjustable+Animation.swift:16:17: 'safeAreaTopOffset' is deprecated on iOS: Use the `topLayoutMarginAddition` instead.

[2018-09-08 12:45] ArturBaghdas opened #223 "Interface Builder could not open the document MessageViewIOS8.xib" because it does not exist."

[2018-09-08 17:44] wtmoose commented on #223
SwiftMessages 5 doesn’t support iOS 8. If you want to use that nib file, you can get it from version 4 and put it in your project.

[2018-09-08 17:45] wtmoose commented on #222
Do you have a question?

[2018-09-08 17:59] Michele404 commented on #222
The question is the tite

[2018-09-08 18:14] wtmoose commented on #222
#218

[2018-09-08 21:06] wtmoose commented on #222
Closing this as a dupe. Feel free to comment on the original.

[2018-09-08 21:06] #222 closed

[2018-09-14 08:38] barisatamer opened #224 "Message order"
Hi,

Thank you for creating this amazing library!

In the current implementation, the one is waiting for another.

For our needs, we need to reverse the order. That way, a **new** message will always be shown, without waiting for the queue.

Do you have any plans for that kind of feature?
If we implement our custom solution, would you think merging it?

[2018-09-14 14:12] wtmoose commented on #224
Can you just call `SwiftMessages.hideAll()` before showing the next message?

[2018-09-14 14:28] wtmoose commented on #224
OK gotcha. I'm pretty swamped, so if you want to do a PR, I'll take a look. My first inclination is to add an enum on `SwiftMessages`:

[code]

But open to other ideas.

[2018-09-18 16:59] Michele404 opened #225 "Swift 4.2"
Update to 4.2 please

[2018-09-18 20:28] wtmoose commented on #225
You can use the `work/swift4.2` branch

[2018-09-18 21:15] rafsouzap commented on #225
@wtmoose do you have any plans to release this fix?

[2018-09-19 01:46] wtmoose commented on #225
Of course!

[2018-09-19 02:07] wtmoose commented on #225
@rafsouzap My intention was to release after wrapping up some other changes. But I can potentially release sooner. Is it causing a problem?

[2018-09-19 02:33] wtmoose commented on #225
I have a Swift 4.2 test project that happily runs SwiftMessages 5.0.1 via CocoaPods. So I didn't anticipate compatibility issues. Can you elaborate on what you mean by incompatible?

[2018-09-19 08:02] Michele404 commented on #225
Yes, make an update to Swift 4.2 in the main branch please

[2018-09-19 13:27] wtmoose commented on #225
What is the actual issue?

[2018-09-19 13:41] rafsouzap commented on #225
@wtmoose I'm gonna configure Podfile to use SwiftMessages in Swift 4.0. Don't worry! Yesterday was crazy and I didn't remember it! 👍

[2018-09-19 15:43] wtmoose commented on #225
OK guys, I went ahead and released 5.0.2 with Swift 4.2.

[2018-09-19 15:43] #225 closed

[2018-09-19 18:16] iruleonu opened #228 "Carthage support"
Can you mark the schema as shared?

To avoid this error:

[code]

[2018-09-19 18:46] #228 closed

[2018-09-19 18:55] wtmoose commented on #228
Not sure what happened there. Try 5.0.3.

[2018-09-19 23:34] stshelton opened #229 "After updating to xcode 10 SwiftMessages.Config has no member presentationContext"
Having trouble updating my project to Xcode 10. When building I receive
`Value of type 'SwiftMessages.Config' has no member 'presentationContext'; did you mean 'presentationStyle'?`. I am running swift version 4.0 could the latest version of SwiftMessages be built for swift 4.2, would that even have that affect? If so what version should i be on for Swift 4.0?

SwiftMessages Version: 5.0.3
Swift v

[2018-09-20 04:02] wtmoose commented on #229
Try 5.0.1

[2018-09-20 14:27] wtmoose commented on #225
Please note this change broke builds for projects still using Swift 4.1 (see #229). So I reconfigured the versioning and you'll need to update to 6.0.0.

[2018-09-20 14:28] wtmoose commented on #228
Please note that release 5.0.2 broke builds for projects still using Swift 4.1 (see #229). So I reconfigured the versioning and you'll need to update to 6.0.0.

[2018-09-20 14:29] whitepaperclip commented on #229
@wtmoose Upgrading to 6.0.0 didn't help. Is `presentationContext` removed?

[2018-09-20 14:32] wtmoose commented on #229
No.

In following the semantic versioning rules, 6.0.0 is the Swift 4.2 release. You'll need to stay on 5.0.1 if your project isn't on Swift 4.2.

[2018-09-20 14:43] wtmoose commented on #229
To clarify, I've confirmed that if your app is on Swift 4.1, then the Swift 4.2 version of SwiftMessages gives a compile error about `presentationContext` (which does exist). I'm not an expert on mixing Swift versions, so my suggestion is to stay on 5.0.1.

[2018-09-20 14:44] whitepaperclip commented on #229
Yep, I confirmed this is the issue. Thanks!

[2018-09-20 23:09] stshelton commented on #229
Yea that worked, Thanks for the quick response!

[2018-09-21 07:49] cpvbruno opened #230 "Problems with StatusBarStyle? Take a look on this"
I have experienced problems with the statusBarStyle while using view controller base statusBarStyle.
In this case I had to define the preferred statusBarStyle every time I call the notification (SwiftMessage), but how can I know the current preferredStatusBarStyle if I call the notification outside a view controller for example?

This solved my problem:
[code]

[2018-09-21 13:30] wtmoose commented on #230
This seems like a general question better asked on StackOverflow.

[2018-09-21 13:31] #229 closed

[2018-09-21 13:46] cpvbruno commented on #230
You're right, I just thought it would be interesting here because people usually search on the issues. But you're right

[2018-09-21 13:46] #230 closed

[2018-09-22 08:31] ThreadPitt commented on #218
When  using Cocoapods, you can suppress the warning in the pod file for this pod

[2018-09-24 19:19] annca commented on #180
This issue can be solved by doing an import statement like this:

`import enum SwiftMessages.Theme`

[2018-09-25 21:52] adxworld opened #231 "SafeArea not working on XR or Xs Max"
Firstly, thank you for such a fantastic library.
I have been using swift Messages for a long time now. Recently I updated to Xcode 10. Somewhere the safeArea constraints doesn't work on iphone Xr and Xs Max whereas it works seamlessly on iphone X. It just tends to cut of the notch on the former mentioned phones

This is my sample code.:
`
        let mview : MessageView = MessageView.viewFromNib(l

[2018-09-26 08:56] adxworld commented on #231
Tried as you directed, yet the same results. This cuts of the notch half the way.

I have implemented the same exact copy of the card view provided in your example.

[2018-09-26 09:38] pmusolino opened #232 "Labels with scrolling marquee effect"
It would be really useful to add this feature to the labels within the alerts.
It would be especially useful for small alerts, such as those that show warnings under the navigation bar.

Currently, this is the result with a long text:
![cut](https://user-images.githubusercontent.com/495617/46071516-7ce29980-c180-11e8-8132-481d49d2125e.png)

This will be the result with a scrolling marquee effect:

[2018-09-26 17:34] wtmoose commented on #231
Your code works for me in Simulator (I don't have either of the referenced devices). Here's the XS Max:

![screen shot 2018-09-26 at 12 33 08 pm](https://user-images.githubusercontent.com/2529176/46097793-68a29a80-c188-11e8-80c5-e62eae95fd7a.png)

And here's the code. Does this work for you?

[SwiftMessagesTest.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/2420873/SwiftMessagesTest.z

[2018-09-26 20:48] adxworld commented on #231
I downloaded the test. I am having the perfect results from your project.
Well I have went ahead and created manual custom constraints on the cardView I designed.
(Does custom card view design affect the presentation of cardview in safeArea?)

[2018-09-26 20:54] wtmoose commented on #231
For a card-style view, the background view's edges should be pinned to the superview's layout margins. Refer to CardView.xib.

[2018-09-26 23:01] adxworld commented on #231
Yes! I am actully using the same exact `nib` for showing the card. But no matter what I have to define manual constraints for iPhone X series.

<img width="790" alt="screen shot 2018-09-26 at 4 00 24 pm" src="https://user-images.githubusercontent.com/24389003/46113987-68fd5e80-c1a5-11e8-9d82-76f43d411ed8.png">

[2018-09-27 00:45] wtmoose commented on #231
OK, I misunderstood your comment. So, in summary, the same view works correctly in the sample project I sent you but does not work in your project? I'm not sure there's much I can do unless you help me reproduce it or give me some useful debug info.

Do you use Reveal? You can use it to examine exactly what's happening.

[2018-09-28 03:09] applepeopletsai opened #233 "Is not support ios8 anymore?"
Hi,
I am use version 6.0.0
but it seem like not supprot ios8
I remember version 4.1.4 support ios8
so it's not support ios8 anymore?

![image](https://user-images.githubusercontent.com/19483534/46185929-a6c9c680-c30e-11e8-88ce-443b61d4497b.png)

[2018-09-29 15:29] ifanchu opened #234 "SwiftMessages.show(config: config, view: view) raising EXC_BAD_ACCESS"
When I simply to

    let view = MessageView.viewFromNib(layout: .messageView)
    view.configureTheme(.info)
    view.configureDropShadow()
    view.button?.isHidden = true
    view.configureContent(title: "title", body: "body")
    view.backgroundView.backgroundColor = UIColor.greenblue
    (view.backgroundView as? CornerRoundingView)?.cornerRadius = 10
    SwiftMessages.show(view: view)

it was

[2018-09-29 18:57] wtmoose commented on #234
#229

[2018-09-29 18:57] #234 closed

[2018-09-29 22:59] ifanchu commented on #234
thank you very much

[2018-10-01 08:02] AntoGeekz opened #235 "CUIThemeStore: No theme registered with id=0"
Hey,

Since this morning I have  the error "CUIThemeStore: No theme registered with id=0" when I try to display a SwiftMessage.

I'm using almost the same code than is the example.

Only logs I have are :
- EXC_BAD_ACCESS on  let presenter = Presenter(config: config, view: view, delegate: self) (in SwiftMessages class, in the "show" method)

Any idea plz?

[2018-10-01 11:38] wtmoose commented on #235
What did you change?

[2018-10-01 12:17] AntoGeekz commented on #235
It's the problem... I changed nothing, It worked very well the last week and it doesn't work anymore since this morning :( Or maybe a automatic update I didn't see?

[2018-10-01 14:14] wtmoose commented on #235
Something must have changed. What version of the following are you on?

1. SwiftMessages
2. Swift
3. Xcode

[2018-10-01 14:31] AntoGeekz commented on #235
Ok, my bad.... The project was not configured to Swift 4.2....

Thx @wtmoose and sorry ^^"

[2018-10-01 14:31] #235 closed

[2018-10-01 20:19] harishchopra86 opened #236 "Crash if I set duration on config"
Swift Messages crash if I set a duration on default config object. It works fine without setting duration.

[2018-10-01 20:37] wtmoose commented on #236
Please make sure you're using compatible versions of Swift and SwiftMessages:

1. Swift 4.1 works with SwiftMessages 5
2. Swift 4.2 works with SwiftMessages 6

If al that checks out, I'll need to see your code and a crash log in order to have any chance of helping you.

[2018-10-04 09:27] syrakozz opened #237 "swift message clear my custom background view color"
swift message clear my custom background view color,
what should i do

[2018-10-04 14:33] wtmoose commented on #237
Background color of what view?

[2018-10-05 13:00] AntoGeekz opened #238 "Custom UIViewController Transitions with SwiftMessage"
Hi,

I'm sorry I think it's not really a issue but a question on how to achieve the proper behavior. I followed this http://www.swiftkickmobile.com/elegant-custom-uiviewcontroller-transitioning-uiviewcontrollertransitioningdelegate-uiviewcontrolleranimatedtransitioning/ to display a view controller with SwiftMessage.

When I display a view, and try to display after that the same view (after cancel

[2018-10-05 13:02] #223 closed

[2018-10-05 13:07] wtmoose commented on #238
I’m a little bit confused because you linked to my blog post about writing your own custom segue. Are you using `SwiftMessagesSegue` or your own custom segue?

[2018-10-05 13:08] wtmoose commented on #231
No reply, so I’m assuming this is no longer an issue.

[2018-10-05 13:08] #231 closed

[2018-10-05 13:08] AntoGeekz commented on #238
Sorry if it wasn't clear. I used your example, it's almost the same segue, I just changed 2-3 things about the size of the view displayed.

The use case is : I show the view, I cancel the view, I want to show the view again, but... there is a delay of X secondes, the view doesn't appear directly and I don't understand why.

[2018-10-05 13:10] wtmoose commented on #224
A few weeks ago, you mentioned a possible PR for this feature request. Should I keep this one open?

[2018-10-05 13:15] wtmoose commented on #238
My initial thought is you’re presenting the view controller before the first dismissal is completed. Have you checked that?

[2018-10-05 13:20] AntoGeekz commented on #238
Mhhh, sorry I don't see how can I check that? Because when I tap on the "cancel" button it cancels the the view controller displayed. Even if I wait 2-3 seconds before to tap on the button again to display the views, I have to wait again before to see the new view displayed, it's really weird.

I retrieved your project from GitHub and you don't have this issue, I don't understand, I'm doing the sa

[2018-10-05 13:27] AntoGeekz commented on #238
The only difference is I'm managing the view displayed with a specific view controller class, and I manage all about this view in this view controller of course. So I'm doing the "dismiss" etc in this specific view controller but I don't see what is the link with this issue..

[2018-10-05 13:28] AntoGeekz commented on #238
The only difference is I'm managing the view displayed with a specific view controller class, and I manage all about this view in this view controller of course. So I'm doing the "dismiss" etc in this specific view controller but I don't see what is the link with this issue..

[2018-10-05 14:52] wtmoose commented on #238
Could you possibly post this question on Stack Overflow? I think it's a much better forum for this topic and will be easier for others to find. You can tag `@Timothy Moose`.

[2018-10-05 15:07] AntoGeekz commented on #238
Ok thx :)

[2018-10-05 15:07] #238 closed

[2018-10-05 15:14] wtmoose commented on #238
It would be good if you could drop a link to SO in here.

[2018-10-07 02:38] khoozhiyan1997 opened #239 "How to hide existing message and show again ?"
This does not seems to be working.

`  view.configureDropShadow()

view.backgroundHeight = 120
            var config = SwiftMessages.defaultConfig
            config.presentationContext = .automatic
            config.duration = .forever
            config.presentationStyle = .bottom
            config.interactiveHide = true
            SwiftMessages.hideAll()
            SwiftMessages.show(confi

[2018-10-08 04:28] iamsanketray123 opened #240 "Crash when trying to load a custom NIB"
[code]

this leads to a fatal error. Am I doing something wrong?

[2018-10-08 11:29] gcharita commented on #240
You should probably change the `MessageView` type with your custom type like this:

[code]

If this doesn't fix your issue try catching and printing the error like this:

[code]

That way you can investigate the crash further.

[2018-10-08 11:48] iamsanketray123 commented on #240
I tried putting everything in the do try block and i get this for `error.localizedDescription`  : **The operation could not be completed (SwiftMessages.SwiftMessagesError error 0)**

[2018-10-08 12:01] iamsanketray123 commented on #240
I created a new class `class AddAlternateBank: MessageView {

}`
Created AddAlternateBank.xib file. selected the File's owner and added the class. Is that the right approach?

[2018-10-08 12:56] Idomo opened #241 "Few problems"
HI, first thing thanks for this library!
I'v just downloaded it and I noticed that there are few problems:
1) When showing message it will stay 'till the duration will pass, so if I'm moving to another `ViewController` the message will still be shown and will disappear only when the duration will pass.
I want it to disappear when moving to another `ViewController`, and not by using the `hide()/hid

[2018-10-08 13:46] sashberd opened #242 "Example for confirmation message"
Hi

Can you please provide example for confirmation message? I saw documentation, but did not find the way to create confirm message, only with extension of nib, but in you answers to some issues you wrote that it is possible without extension

So example of such use-full alert message will be great

[2018-10-08 15:20] jduranc opened #243 "ViewController goes out of screen"
Hi,

I found a bug, when presenting one view controller using segues, if some controller opens camera or gallery the content of view controller goes out of screen (up/left) and shadow still on place.

![screen shot 2018-10-08 at 8 15 03 am](https://user-images.githubusercontent.com/9992020/46617909-e04ebe80-cad2-11e8-8e5c-c7fd6a238110.png)

[2018-10-08 15:40] wtmoose commented on #242
I don't have time to do this. Maybe ask on Stack Overflow?

[2018-10-08 15:40] #242 closed

[2018-10-08 15:57] wtmoose commented on #241
Hi,

For future reference, please try to limit one issue per ticket to streamline discussion.

1. See #73
1. I need to look into this. As a workaround, you can set `messageView.layoutMarginAdditions.top = XX` to shift the content down by the amount needed.
1. See #218
1. This is already documented in the readme in the "MessageView Class" section.
1. The `configure` methods are intended to be conve

[2018-10-08 16:01] wtmoose commented on #240
My guess is you haven't included your nib file in your app's target. However, it is hard for me to guess are you issue since you didn't post the crash's call stack.

[2018-10-08 16:13] gcharita commented on #240
@iamsanketray123 the wrong step is probably this one: "selected the File's owner and added the class"
You shouldn't set your class in the "File's owner" but in the View
![screen shot 2018-10-08 at 19 09 41](https://user-images.githubusercontent.com/16266885/46620732-31d86700-cb2e-11e8-8605-bbc62bb1bc54.png)

[2018-10-08 16:17] jduranc commented on #243
Hi @wtmoose

I just add one button to open the gallery using UIImagePickerController in the child controller, so, open any kind message (center/top/etc) show details, then click button to open camera, when UIImagePickerController its closed, the content its gone, if I set the viewcontroller size bigger, the contents appears up/left corner.

regards,

[2018-10-08 17:14] wtmoose commented on #243
Could you attach your modified project for me?

[2018-10-08 17:37] jduranc commented on #243
Sure,
Here it is.
[Sample.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/2457009/Sample.zip)

[2018-10-08 18:16] iamsanketray123 commented on #240
That worked @gcharita .Thanks!

[2018-10-08 18:32] #240 closed

[2018-10-08 18:34] iamsanketray123 commented on #206
@wtmoose I actually found the cause...why the message was auto hiding....i have a notification that runs continuously which detects the presence of Internet. Everytime the notification is triggered, SwiftMessages hides itself. Please fix!

[2018-10-08 18:36] wtmoose commented on #206
I'm confused about what you want me to fix. Your code is calling `hide` when it shouldn't, correct?

[2018-10-08 18:39] iamsanketray123 commented on #206
@wtmoose yeah actually you are right, that was an issue from my end. Just one last question. Is it possible to name a SwiftMessage, so that I can detect, if that specific message shown and handle

[2018-10-08 18:42] wtmoose commented on #206
Yep. There are APIs to query and hide messages by `id`. If you check the `MessageView` class, you will see that it has a default implementation for ID, but you can override that with any `id` you choose.

[2018-10-08 18:56] iamsanketray123 commented on #206
@wtmoose Thanks...you may resolve this

[2018-10-08 19:00] wtmoose commented on #241
I'm surprised about (2) because I would expect the safe area to include the search bar. Is that not the case?

[2018-10-08 19:41] wtmoose commented on #243
The view controller's view is being temporarily removed from the view hierarchy by iOS. I need to handle this case by re-establishing the Auto Layout constraints when the view is reinstalled. As a workaround, you can specify `modalPresentationStyle = .overFullScreen`:

[code]

[2018-10-08 20:10] jduranc commented on #243
Hi @wtmoose,

Thats fix the issue, thanks for your help ^_^.

[2018-10-09 16:05] UtkuDalmaz opened #244 "How to show on Appdelagate"
Hi there,

How can I use SwiftMessages on appdelegate?

I tried this but it crashes
[code]

[2018-10-09 16:30] wtmoose commented on #244
When/where is this code running? What is the crash log?

[2018-10-09 16:34] UtkuDalmaz commented on #244
It works on AppDelegate.swift

[code]

I don't have the crash log yet. I have problem with developer apns certificate and only have working production certifiate. I tested in on production app and it crashes but sorry I don't have the crash log.

Can you confirm that this code is correct?

[2018-10-10 15:31] Idomo commented on #241
It is the case, really wired...

[2018-10-11 04:10] tadasstra commented on #236
Same goes for me on 6.0.0. with Swift 4.2. Had to migrate to 5.0.1 to defeat the Crash.

Crash does not give any useful information just EXC_BAD_ACCESS on this line in SwiftMessages.swift:

public static func show(config: Config, view: UIView) {
        --> globalInstance.show(config: config, view: view)
}

[2018-10-11 08:36] kaushal9678 commented on #229
just comment **presentationContext** line
**// warningConfig.presentationContext = .window(windowLevel: UIWindowLevelStatusBar)**
and call .show method it will work.

SwiftMessages.show(view: warning);

[2018-10-11 13:09] sunnypurewal commented on #236
I can reproduce this issue with a crash on the same line as @tadasstra posted. I am installing using Carthage v6.0.0. Reverting back to 5.0.1 worked for me.
The crash happens whether I set the duration or not.

[2018-10-11 13:42] wtmoose commented on #236
@tadasstra @sunnypurewal please verify your app target's "Swift Language Version" build setting is 4.2. Others have reported crashes and incorrectly thought their app was 4.2.

[2018-10-11 15:08] sunnypurewal commented on #236
@wtmoose oops! That was indeed my problem. Thanks.

[2018-10-12 05:59] birbay commented on #229
//Podfile  pod 'SwiftMessages', '~> 5.0.1'
//Swift 4.1

let status = MessageView.viewFromNib(layout: .statusLine)
status.backgroundView.backgroundColor = UIColor.purple
status.bodyLabel?.textColor = UIColor.white
status.configureContent(body: "A tiny line of text covering the status bar.")
var statusConfig = SwiftMessages.defaultConfig
statusConfig.presentationContext = .window(windowLevel: UIWind

[2018-10-12 14:29] #244 closed

[2018-10-12 14:40] UtkuDalmaz opened #245 "Crashes when I try to show"
[code]

I try to show a notification on mainviewcontroller. Installed via pods and Imported CardView.xib to project. It crashes. I can't get it working.

<img width="965" alt="screen shot 2018-10-12 at 17 29 16" src="https://user-images.githubusercontent.com/2130592/46875945-ba644980-ce45-11e8-9b52-624cfcae29de.png">

[2018-10-12 14:51] #236 closed

[2018-10-12 14:52] wtmoose commented on #245
Lot of crash reports recently due to Swift 4.1 & 4.2 compatibility issues. See #236. If that isn't the issue, please provide a crash log with a call stack.

[2018-10-14 21:13] wtmoose commented on #239
You want to show an existing message while it's in the process of being hidden?

[2018-10-15 14:41] nathsociete opened #246 "Stack up to 3 messages at the same time ?"
Hi,

Thank you first for this great library.

I wanted to know if there is actually a way :
1- to stack up to 3 different messages at the same time (with custom uiview) at the top of the screen ?
2- to dismiss message by a right, left swipe ?

Thank you for any response

[2018-10-15 14:47] giofid commented on #218
@wtmoose maybe you can use
[code]
to maintain backward compatibility with swift version less than 4.2.

[2018-10-15 14:51] wtmoose commented on #246
Sorry, nope.

[2018-10-15 14:56] #246 closed

[2018-10-17 08:10] MartyCatawiki commented on #167
Unfortunately waitForElementToAppear is too slow for SwifMessages that  automatically disappear after 1 second.
Does anybody know how to solve this for UI testing?

[2018-10-17 14:30] vitalii-tym opened #247 "UITransitionView not removed after dismissing message (presented using the "swift messages" segue in Interface Builder) in case the segue source doesn't exist any more"
My "message" was created using the "swift messages" segue in Interface Builder as described in [this doc](https://github.com/SwiftKickMobile/SwiftMessages/blob/master/ViewControllers.md).

It is then configured in `prepare(for segue: sender:)` with minimum settings:

[code]

Most of the time it works fine, but ~sometimes~ after you remove the underlying view controller it leaves UITransitionView a

[2018-10-17 14:51] wtmoose commented on #247
Yikes. Can you reproduce it in the demo app?

The first thing I'd look at is check if line 52 of `SwiftMessagesSegue.swift` is being called.

[2018-10-18 12:52] vitalii-tym commented on #247
Found it. It was not "sometimes".  I had an array of view controllers, one of them had a UITableView and a UITableViewCell had a UIButton calling the segue. At some moment I was flushing the array and initing new view controllers (not sure if the old controllers were garbage collected or were still hanging somewhere in memory). This is the moment when dismissing the message was leaving UITransitio

[2018-10-18 18:59] wtmoose commented on #247
Interesting. I think in this case, SwiftMessages is using the presentation APIs correctly and there's nothing it can do to prevent this behavior. So I'm going to close this one. Good to hear you fixed it.

[2018-10-18 18:59] #247 closed

[2018-10-20 21:14] ShaneQi opened #248 "When set `dimMode = .none` and use `SwiftMessagesSegue`, can't interact with the background."
I'm trying to achieve a UI that the alert (.topCard layout) stays at the top, and user is able to interact with background without closing the alert.

I prefer using `SwiftMessagesSegue` because I've already had the alert view written as a view controller. But when I set `dimMode = .none`, the background **isn't** enabled to be interacted with. Looks like something is blocking the touches.

I also

[2018-10-21 02:18] PTVyas commented on #245
I have same problem

[code]
![screen shot 2018-10-21 at 7 46 06 am](https://user-images.githubusercontent.com/28999680/47262406-a4215200-d505-11e8-8fb0-1efc598ef10e.png)

[2018-10-21 10:34] UtkuDalmaz commented on #245
Set your project swift version to 4.2

[2018-10-21 10:34] #245 closed

[2018-10-21 16:28] wtmoose commented on #248
As far as I understand, modal presentation, by definition, doesn't allow touches through to the underlying view controller. The presented  view controller's view is contained in a `UITransitionView`, which is provided by iOS. `UITransitionView` doesn't allow touches outside of your content to pass through to the underlying view.

View controller containment might be a workable alternative with a l

[2018-10-21 16:44] ShaneQi commented on #248
I agree with you on this point.

I tried converting my view controller to a view (xib), and by using `SwiftMessages.show` it worked.

Thanks for the response.

[2018-10-21 16:44] #248 closed

[2018-10-22 04:05] chamitha opened #249 "Modal Message"
Is there a configuration to display the message as a modal message? I.e. it can only be dismissed by the button or view tapHandler and not tapping on the background?

[2018-10-22 13:38] wtmoose commented on #249
Yes. Please refer to the docs.

[2018-10-22 13:38] #249 closed

[2018-10-23 08:49] MartyCatawiki opened #250 "UI Testing for Messages that automatically disappears after 1 second not always working"
I'm ui testing some SwiftMesssages that automatically disappear after one second.

First i tried to use the waitForElementtoAppear as written in other issues here, but this is too slow because it checks every second in the timeout-time for existence, and mostly it's already gone.
When i directly check for the existence of the element then it works most of the times, but sometimes it's too fast to

[2018-10-23 13:17] wtmoose commented on #250
This question is not specific to SwiftMessages, per se. I think your chance of getting a good answer would be better on Stack Overflow.

[2018-10-23 18:31] abuharsky opened #251 "Dismissal problem when presented from UISearchController"
I have collectionviewconntroller, tap on cell will open modal view controller using SwiftMessagesSegue(bottom tab) with interactive dismissal by swiping down enabled.

This scenario works great except next case:

using search controller and additional search results view controller with the same modal view presenting logic breaks uiview hierarchy after been dismissed by swipe down.

After debuggin

[2018-10-24 13:48] wtmoose commented on #251
I don't really understand your problem description. What does "breaks uiview hierarchy" mean? Maybe I would understand better if you attach code, screen recording, screenshot, etc.

Are you seeing something like #243?

[2018-10-24 14:19] abuharsky commented on #251
Look at this view hierarchy.
CollectionViewController -> Search Controller -> Search Results Controller -> ModalView(swiftMessages)
all Ok

![](https://pp.userapi.com/c845122/v845122465/117abc/DVYSIQmdeNY.jpg)

Then I swiped down Modal view, swiftMessages called
`source.dismiss(animated: false, completion: nil)`
where is **source** is **SearchResultsViewController** and view hierarchy broken - sys

[2018-10-24 15:10] amaurydavid opened #253 "Impossible to set up layout with view hierarchy unprepared for constraint."
Hello =)

I'm using SwiftMessages 4.1.4 in a production app and the app happen to crash (the iOS version seems to be irrelevant as it impacts iOS 9 to 12) for some users when presenting a SwiftMessage.
Almost all crashes happen when the app is in foreground.
Here is the stack:
[code]

The app shows various messages at various times but the stacktrace and error message are always the same ones.
To

[2018-10-25 08:57] pahnev commented on #218
@wtmoose, I understand wanting to keep it backwards compatible, but isn't that what the versions are for? E.g. the 6.0 release is already not compatible with 5.0 code, which is also supported with the [Cocopods version syntax](https://guides.cocoapods.org/using/the-podfile.html) and users of your library will not get updated to 6.0, unless they explicitly want to.
[code]

So why not just remove th

[2018-10-25 12:01] MartyCatawiki commented on #250
Thanks, i was hoping that somebody using the auto-hiding feature of SwiftMessages has already a solution for it.

[2018-10-25 13:32] g-bourachot opened #254 "Crashes when dequeueNext"
Crashlytics is telling me we've got crashes on our app due to SwiftMessages.

Here is the stack :
Crashed: com.apple.main-thread
0  (Missing)                      0x300920bd4 (Missing)
1  (Missing)                      0x300920bd4 (Missing)
2  SwiftMessages                  0x1009156c8 closure #1 in SwiftMessages.dequeueNext() (SwiftMessages.swift:547)
3  SwiftMessages                  0x1009105f8

[2018-10-25 13:44] wtmoose commented on #254
Whats the exception type? Whats the platform? What version of iOS? What does your SwiftMessages code look like?

[2018-10-25 21:24] perlguy99 opened #255 "presentationContext error?"
I have deleted my DerivedData folder, cleaned my project, and I am still getting the following error...

`Value of type 'SwiftMessages.Config' has no member 'presentationContext'; did you mean 'presentationStyle'?`

If I command-click and go to SwiftMessages.Config, I definitely see `presentationContext` and it is marked as `public`

Has anyone else encountered this?  I'm not sure a) why it isn't

[2018-10-25 22:03] wtmoose commented on #255
#229

[2018-10-25 22:03] #255 closed

[2018-11-02 09:58] xtripDucBM opened #256 "Cant install via Pod"
I just re-clone my project and then start install Pod but I got this message while installing SwiftMessages.

[!] Error installing SwiftMessages
[!] /usr/local/bin/git clone https://github.com/SwiftKickMobile/SwiftMessages.git /var/folders/gl/6q8xnd4539j2n1qkgkh6brrr0000gn/T/d20181102-31643-73c6jk --template= --single-branch --depth 1 --branch 5.0.3

Cloning into '/var/folders/gl/6q8xnd4539j2n1qkg

[2018-11-02 18:00] wtmoose commented on #256
I deleted 5.0.2 and 5.0.3 after realizing that I hadn't followed semantic versioning rules. So you'll need to install one of the following:

* 5.0.1 if you're on < Swift 4.2
* 6.0.0 if you're on >= Swift 4.2

[2018-11-06 07:03] LawrenceHan opened #258 "segue perform programmatically got empty view"
[code]

you can only see the dimming view.

[2018-11-06 08:55] wtmoose commented on #258
Your view controller has no Auto Layout constraints or intrinsic height, so you get zero.

[2018-11-06 14:12] #256 closed

[2018-11-07 08:31] LawrenceHan commented on #258
@wtmoose Thank you for your reply.
Could you give me some suggestion?

[2018-11-07 14:35] wtmoose commented on #258
If you want to set an explicit height, you can do:

[code]

Otherwise, you let Auto Layout determine the height of your view controller's content in the same way that you'd configure a dynamic height table view cell.

[2018-11-07 14:35] #258 closed

[2018-11-07 15:00] #224 closed

[2018-11-08 08:43] LawrenceHan commented on #258
@wtmoose Thank you.
I'm using manual layout.
I want to read this particular code, would you mind to point out where should I take a look? So I could change it a little in my fork repo.

[2018-11-08 12:20] wtmoose commented on #258
Why are you trying to modify the repo?

[2018-11-09 08:07] LawrenceHan commented on #258
@wtmoose I want it support manual layout viewcontroller.

[2018-11-09 13:57] wtmoose commented on #258
I'm pretty confused by this discussion. What do you mean by "doesn't support manual layout"?

[2018-11-12 07:56] LawrenceHan commented on #258
@wtmoose Sorry for misunderstand.
[code]

Above code should give me a green background view controller with SwiftMessage beautiful animation. Instead I got a dimming background.

As mentioned in above post: `Your view controller has no Auto Layout height constraints or intrinsic height, so you get zero.`

Sometime I prefer manually set explicit frame for view controller (or not). I think maybe I c

[2018-11-12 13:59] wtmoose commented on #258
If you're opposed to specifying Auto Layout constraints, SwiftMessages will add one to `segue.messageView.backgroundView` for you:

[code]

[2018-11-14 15:06] wtmoose commented on #254
The `KERN_INVALID_ADDRESS` exception means that the code is trying to reference a deallocated memory. However, I don't see anything suspicious in the code and nobody else has reported this crash, which makes me think your app is in a bad state for reasons unrelated to SwiftMessages.

I don't see how I can help with this unless you provide reproduction steps.

[2018-11-14 15:09] wtmoose commented on #253
I'll take a look if you get on 6.x and still have a problem. I don't have time to support old versions.

[2018-11-15 02:12] FormioCour opened #259 "Why not support iOS 8.0?"
Why not support iOS 8.0?

[code]

[2018-11-15 02:38] wtmoose commented on #259
To encourage you to stop supporting it.

[2018-11-15 02:38] #259 closed

[2018-11-16 10:28] Max0u opened #260 "Message hide when changing view controller"
Hi,

I setup a message like that :

[code]
And when I change view controller the case didHide is trigger There is a way to keep the message in all viewController ?

Thanks

[2018-11-16 14:59] wtmoose commented on #260
Sounds like your code is calling `hide()` somewhere. I'd put a breakpoint in `hideCurrent()` to find out why it's getting called.

[2018-11-16 15:49] Max0u commented on #260
Yes I do what you advice in #206 and I was using hideall() for other SwiftMessage, sorry it take me time because I didn't know how to add breakpoint in Carthage

[2018-11-16 15:49] #260 closed

[2018-11-22 06:06] nitinkarki commented on #229
@wtmoose Changing pod version back to 5.0.1 worked for me, thanks!

[2018-11-23 07:12] ybeapps commented on #254
I have a similar crash too with that code.

[code]

That code worked without any changes.
The change is that I just updated Xcode + SwiftMessages (from 4.1.4 to 6.0.1) + pod install
Not crashing in older version
Crashing in this version
But when I'm taking that code to a clean empty project it works well
I really don't know what to do

When I'm debugging I'm getting to:

My code:
`        SwiftMes

[2018-11-23 15:14] wtmoose commented on #254
If anyone can provide repro steps or send me a project that crashes, I’ll take a look.

[2018-11-25 04:38] ybeapps commented on #254
{"app_name":"Theory-iOS-Free","timestamp":"2018-11-24 23:41:42.77 +0200","app_version":"4.8","slice_uuid":"70a131e5-a628-334d-86ca-222d3c5ac893","adam_id":0,"build_version":"4.8.1","bundleID":"com.ybe.theory.free","share_with_app_devs":true,"is_first_party":false,"bug_type":"109","os_version":"iPhone OS 12.1 (16B92)","incident_id":"5B05C4CE-64ED-4383-9940-F2538FE81393","name":"Theory-iOS-Free"}
In

[2018-11-25 10:14] ybeapps commented on #254
Ok, I changed the position of my code (in my original project) and got the faulty stack trace of the SwiftMessages

I'm attaching the output of "bugreport" command in lldb
You have stack trace, registers, threads, system, everything you need...

[BUGREPORT.txt](https://github.com/SwiftKickMobile/SwiftMessages/files/2612986/BUGREPORT.txt)

[2018-11-25 10:35] ybeapps commented on #254
this is the crashing code:

[code]

This works:

`WindowViewController(windowLevel: windowLevel, config: config) `

This crashes:

`config.windowViewController?(windowLevel, config)
`

See in lldb:

[code]

[2018-11-25 10:53] ybeapps commented on #254
Well, Apparently there are several issues.
When I changed the code to:

[code]

IT WORKS!!!!

But then I restore my code to its original place and it crashes again..
Maybe there is a problem in my compilation flags?
bitcode?
Something that I may done and I have no understanding in it?

[2018-11-25 16:14] wtmoose commented on #254
My best guess is your app is an a bad state for some reason it just happens to crash in SwiftMessages code. I don't think there's anything wrong with the lines that are crashing. You can send me your app source code directly and I'll take a look when I get time (I'm extremely busy at the moment), but I'm not going to be able to solve this for you in this forum. You might have luck on Stack Overflo

[2018-11-25 19:09] ybeapps commented on #254
Looks like SwiftMessages is compiled wrong in my project. (Installed with Cocoa Pods)
I tried during a debugging session to change properties of Config, and it crashed
I believe it’s something in the project build settings
If I have a new input I’ll post it here

‫ב-25 בנוב׳ 2018, בשעה 18:14, ‏‏Timothy Moose ‏<notifications@github.com> כתב/ה:‬

[2018-11-26 20:37] ybeapps commented on #254
Looks like I find the issue.
My project is Swift 4
Swift Messages is Swift 4.2

My test project is Swift 4.2 also, that's why it's working
When I change it to Swift 4 - CRASH!!!!! BOOM!!!!

[2018-11-26 20:42] ybeapps commented on #254
Well I upgraded my project to Swift 4.2 and everything works just great!!!

[2018-11-26 20:59] wtmoose commented on #254
@ybeapps Glad you fixed it. That's a weird one. Others with the Swift version mismatch got a compile error: #229

[2018-11-29 14:36] wtmoose commented on #254
@g-bourachot Can you check if your app or any of its dependencies are Swift 4.1?

[2018-12-04 06:47] wakaryry opened #261 "How could I disable the interactive pan-to-hide gesture when from segue with controller"
[code]

I want to disable the interactive pan-to-hide gesture.
Thanks.

[2018-12-04 15:12] wtmoose commented on #261
`segue.interactiveHide = false`

[2018-12-04 15:12] #261 closed

[2018-12-04 15:12] #254 closed

[2018-12-06 07:48] nilehmann opened #262 "Add event listeners to SwiftMessagesSegue"
I would like to be able to know when a view controller presented with a `SwiftMessagesSegue` has been dismissed with a gesture. I believe that's not possible now. Would be there any issues by exposing the `eventListeners` of the internal config?

[2018-12-06 14:39] wtmoose commented on #262
Yep. Good idea.

[2018-12-11 12:44] Birju-Bhatt opened #263 "Compile error in Xcode 10.0"
I got following compile error in Xcode 10 (swift 4.2).

Could not build Objective-C module 'SwiftMessages'

Also got compatibility error.

UIViewNoIntrinsicMetric' has been renamed to 'UIView.noIntrinsicMetric'
'UIDeviceOrientationDidChange' has been renamed to 'UIDevice.orientationDidChangeNotification'
'UIWindowLevel' has been renamed to 'UIWindow.Level'

And many more error.

Please help me out

[2018-12-11 14:57] wtmoose commented on #263
Update to SM 6

[2018-12-11 14:57] #263 closed

[2018-12-11 14:59] #253 closed

[2018-12-12 04:50] Birju-Bhatt commented on #263
Thanks for your immediate reply. But whenever i tried to install SwiftMessages through pod , it always take old version rather than new version which you mentioned

[2018-12-12 10:36] shi-rudo opened #264 "Message ignores seconds"
Hello!

I am trying to display a welcome message. Unfortunately the message is only displayed for 1 second.

[code]

[code]

![messageproblem](https://user-images.githubusercontent.com/42831102/49863994-c480d500-fe01-11e8-9b03-b04d2945c797.gif)

[2018-12-12 14:35] wtmoose commented on #264
Put a break point in `hideCurrent()` and check the call stack. You'll probably find that you're calling `hide()` somewhere.

[2018-12-12 14:37] wtmoose commented on #263
I suggest that you either read through the CocoaPods documentation or ask how to update a pod on StackOverflow.

[2018-12-12 15:40] shi-rudo commented on #264
This was good advice, thanks!!! Found the bug, it was caused by another function!

[2018-12-14 04:59] Birju-Bhatt commented on #263
Hi wemoose ,
I know how to update pod but what i am saying is if i write pod 'SwiftyJSON' then generally it takes latest version. But instead of that it takes **Installing SwiftMessages (4.1.4)**. So my question is how can i update to latest version i.e. 6.0.1 through the pod because whenever i am trying to update for the same then it will give me error like below. I wrote like this **pod 'SwiftMe

[2018-12-16 01:56] wtmoose commented on #263
Wow

[2018-12-18 19:34] Tawfikk commented on #258
@LawrenceHan you're solved the problem ? I have same error.

[2018-12-19 12:57] Tawfikk commented on #264
Also, maybe this will help - `config.duration = .forever`

[2018-12-20 13:58] pkalinowski opened #265 "Not visible property presentationContext in swift 4.0"
In Swift 4.0 the property `presentationContext` from `SwiftMessage.Config` is not visible for the app. During compiling get an error:
`Value of type 'SwiftMessages.Config' has no member 'presentationContext'; did you mean 'presentationStyle'?`
This library has been attached as module by cocoapods.
Version of the library is 6.0.1.
After changing swift version to 4.2 everything works correctly.

[2018-12-20 15:23] wtmoose commented on #265
@pkalinowski Swift 4 requires SwiftMessages 5.

[2018-12-20 15:23] #265 closed

[2018-12-21 12:15] murdeee opened #266 "Massage View in Tabbar Controllers"
Hello, i have tabbar with 4 controllers and i want to show message view under navigation view by calling in viewDidLoad/viewWillAppear. But when i call it in 1 of controllers, i tap on another and nothing happens. Also i tried .hideAll() before call SwiftMessages.show(config: config, view: view) but it doesn't helped.

[2018-12-21 14:07] #264 closed

[2018-12-21 14:10] wtmoose commented on #266
Can you add screenshots and code? I’m having trouble visualizing your problem.

[2018-12-21 14:44] murdeee commented on #266
I've investigated this issue, message view ( same on both controllers ) isn't showing in 2 controllers

[2018-12-21 14:50] murdeee commented on #266
Test project:[url=https://radikal.ru][img]https://d.radikal.ru/d30/1812/8c/41e0d0935e30.png[/img][/url]
`    override func viewWillAppear(_ animated: Bool) {
        super.viewWillAppear(animated)
        BannerController.showTopBanner(with: "Test1", type: .alert)
    }`
in both controllers

[2018-12-21 15:55] wtmoose commented on #266
That code snippet isn't particularly helpful since you didn't include the implementation of `showTopBanner`. Can you include that or better yet attach the test project?

[2018-12-24 11:22] Tawfikk opened #267 "Can I use the library as an extension for UIAlertController ? If yes, how add actions ?"
I have a extension for UIAlertController with SwiftMessage, which show title, message and button OK, which hide alert.

So, how i can adde the actions to the SwiftMessages ?

[2018-12-24 18:14] wtmoose commented on #267
Why would you do that?

[2018-12-25 10:02] erfanwakka opened #268 "How to access nib controller to modify elements ?"
Hi
I can show my custom nib files but before showing it with `SwiftMessage.show` I want to modify my nib elements but below code return me `UIView`
[code]

[2018-12-26 04:36] LawrenceHan commented on #258
@Tawfikk
try below code
[code]
or use auto layout

[2018-12-26 04:49] #267 closed

[2018-12-26 18:16] wtmoose commented on #266
Your two messages have the same content "Test1" and thus the same `id`. By default, SwiftMessages ignores duplicate IDs. You can add this to `showBanner(withText:)`:

[code]

You probably also want to set:

[code]

To avoid delays when switching tabs. This also prevents a message from being displayed in the wrong tab if the user switches tabs faster than the default pause (since you're not explici

[2018-12-27 18:02] wtmoose commented on #262
Try 6.0.2

[2018-12-27 18:02] #262 closed

[2018-12-28 17:18] wtmoose commented on #155
@miserylee Could you take the attached project, modify it to reproduce your issue, and reattach it? I haven't been able to reproduce it so far.

[SwiftMessagesTest.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/2715302/SwiftMessagesTest.zip)

[2018-12-31 17:57] wtmoose commented on #251
I never followed up on this because you didn't respond to my comment in #252. However, I recently exposed event listeners in `SwiftMessagesSegue` in 6.0.2 and I think you could solve your problem by adding an `eventListener` that dismisses the search controller on `didHide`. Reopen if you need further help.

[2018-12-31 17:57] #251 closed

[2018-12-31 18:00] wtmoose commented on #243
I wasn't able to find a solution that was better than the above workaround, so I'm closing this one.

[2018-12-31 18:00] #243 closed

[2018-12-31 18:02] wtmoose commented on #241
I've been unusually busy and haven't had time to investigate (2). If you still need help with this and can send me a sample project, I will look into it much sooner.

[2018-12-31 18:03] wtmoose commented on #239
No reply. Closing.

[2018-12-31 18:03] #239 closed

[2018-12-31 18:06] wtmoose commented on #232
Hi. Sorry, I forgot to reply to this. Marquee labels seem like a terribly idea from a UX perspective 😜.

However, SwiftMessages will happily display any view. So it should be quite easy to set up your own message view containing a marquee label.

[2018-12-31 18:06] #232 closed

[2019-01-02 09:57] Sopheak0 opened #270 "Tab outside to not dismiss"
I'm using this code to open dialog from xib file using segue:

[code]

but i still can dismiss the dialog when user click outside the view. so how to prevent user to click outside view to dismiss the dialog?

[2019-01-02 13:20] r3econ opened #271 "SwiftMessagesSegue does not work"
I'm following the steps described in [View Controllers wiki](https://github.com/SwiftKickMobile/SwiftMessages/blob/master/ViewControllers.md). I'm trying to show my view controller programatically.

[code]

View controller does not appear. I only see dimmed background. Can someone point me what I'm doing wrong? I pretty much copied the code from the wiki.

<img width="435" alt="screenshot 2019-01-

[2019-01-02 16:04] wtmoose commented on #270
[code]

Use

[code]

[2019-01-02 16:04] #270 closed

[2019-01-02 16:14] wtmoose commented on #271
The height of your `LocationSearchViewController`'s view is probably zero because you don't have sufficient Auto Layout constraints. I don't know your view hierarchy, so I can only give you a couple of ways to specify a fixed height:

[code]

or

[code]

[2019-01-02 16:57] wtmoose commented on #271
Height considerations are addressed in the comments in `SwiftMessagesSegue.swift`. However, I've added the following to the readme file as well:

### Height

SwiftMessages relies on Auto Layout to determine the height the view controller's view.
    However, some view controllers, such as `UINavigationController` have zero Auto Layout height.
    There are a few ways to specify the height of these

[2019-01-09 06:16] baiRookie opened #273 "problem"
![_23f11237-d55d-4fe4-9209-288ba5465a36](https://user-images.githubusercontent.com/34465484/50880318-05780380-1419-11e9-9954-08c1afadda35.png)
How can i solve it

[2019-01-09 15:09] wtmoose commented on #273
[Try this](http://lmgtfy.com/?q=SwiftMessages+presentationContext+compile)

[2019-01-09 15:09] #273 closed

[2019-01-10 13:25] gregoripolak opened #274 "Retain cycle when using SwiftMessages.PresentationContext"
Hi guy's,
So I've been using SwiftMessages, which is pretty awesome.
But I notice a retain cycle in my app caused by SwiftMessages.PresentationContext,
The reason is because both:
[code]
Hold a strong reference to the View Controller\View.
I suggest turning the cases to:
[code]
I tried opening a Pull request, but I don't have push permissions to this repo,
Let me know what you think.

[2019-01-10 14:56] wtmoose commented on #274
Hi. I'm aware of the strong references in `presentationContext`. I haven't changed them to weak references because it is a breaking API change and doesn't generally cause retain cycles. What are you doing to get into a retain cycle?

[2019-01-10 14:57] wtmoose commented on #271
You good?

[2019-01-11 13:09] r3econ commented on #271
It worked, thanks a lot! :)

[2019-01-11 13:09] #271 closed

[2019-01-15 13:59] gregoripolak commented on #274
Nothing special, I have a View Model that creates the Config with a presentationContext.viewController(Strong reference), I present the message via the view controller, so the view controller holds the message, and the message holds the view controller.
I'll probably Fork this project

[2019-01-15 14:48] wtmoose commented on #274
Good luck

[2019-01-17 13:21] Birju-Bhatt commented on #263
@NSMyself I got the solution. I just change below line in my pod file
**platform :ios, '9.0' - Before
platform :ios, '10.0' - After**

I changed it from 9.0 to 10.0 and it works fine.

[2019-01-17 19:36] stshelton opened #275 "How to attach SwiftMessagesSegue viewcontroller to keyboard when keyboard appears."
I'm having trouble getting the view controller presented by SwiftMessagesSegue to stick to the top of the keyboard. When I present keyboard I tried moving the view up with the keyboardwillshowNotification observer and tried changing bottom constraint to take in keyboard's height neither have worked. What would be the best way to show view controller presented by SwiftMessagesSegue to stick to the

[2019-01-17 20:59] wtmoose commented on #275
This seems like a good feature to add. Lemme get back to you.

[2019-01-18 16:49] foxware00 opened #276 "Ability to hide message without an animation"
I want the hide animation to be present, but in a particular case I want the custom view to disappear like `isHidden = true` instead of playing the animation. I see no easy way of achieving this. Am I missing something obvious?

[2019-01-18 18:01] wtmoose commented on #276
No, nothing like that. You're the first to ask. I labelled this one as an enhancement request.

[2019-01-18 18:02] foxware00 commented on #276
I'm happy to open a PR, i'm just not quite sure how you'd achieve this. I was thinking `hide(animated: Bool = true)` or similar functionality

[2019-01-20 07:21] X901 opened #277 "How to change position to RTL ?"
How to change position to RTL ?
I tried also changing my device language to Arabic
but still shown as LTR not RTL !

[code]

[2019-01-20 16:12] Idomo commented on #277
You shouldn't do anything to support RTL if your app is using `AutoLayout`.
I'm using this library with Hebrew and it works with out any problem.
May you attach some images of Arabic VS English so we'll be able to see the difference you're talking about?

[2019-01-20 17:11] wtmoose commented on #277
SwiftMessages supports RTL. My guess is you haven't added Arabic localization to your app.

<img width="913" alt="screen shot 2019-01-20 at 11 07 55 am" src="https://user-images.githubusercontent.com/2529176/51442577-f2c8be80-1ca3-11e9-9c29-749c020bdd87.png">

![simulator screen shot - iphone xr - 2019-01-20 at 11 10 40](https://user-images.githubusercontent.com/2529176/51442617-1a1f8b80-1ca4-11e9

[2019-01-20 17:11] #277 closed

[2019-01-20 17:36] X901 commented on #277
@wtmoose
Thank you
this fix the issue only when I change the Device Language to Arabic

a lot of users choose the English Language as a Device Language

and all my design depends on English

is there another way to only change Alert Position?

[2019-01-20 17:58] wtmoose commented on #277
Google "UIView force RTL"

[2019-01-21 15:31] wtmoose commented on #276
Try `hide(animated: false)` on the head of master branch.

[2019-01-21 16:44] foxware00 commented on #276
@wtmoose Are you saying you've added it? I can't seem to see any updates on master

[2019-01-21 17:02] wtmoose commented on #276
Oops. Try now

[2019-01-21 17:15] foxware00 commented on #276
@wtmoose Worked perfectly, thank you!

[2019-01-22 16:32] Khalphion opened #278 "interactiveHide option (UIPanGestureRecognizer) conflicts with UITableView Swipe action"
Hello there,

first thanks for providing this nice library. We are using it for a university project.
However, we have a problem with using swipe actions in a UITableView (managed by a UIViewController and shown programmatically with a SwiftMessageSegue):

When interactiveHide is enabled, the attached `UIPanGestureRecognizer` in `TopBottomAnimation.swift` is interfering with the UITableViewCell sw

[2019-01-23 15:04] wtmoose commented on #278
I added a public property `TopBottomAnimation.panGestureRecognizer` so you can access it and become its delegate. The change is on the head of the `master` branch.

Here's an example of how you could access it. Hope it helps.

[code]

[2019-01-23 22:49] Khalphion commented on #278
Hi,

thank you very much for the fast response! We really appreciate it! (Your quick fix means that we even have the problem solved before the sprint's demo, which we didn't expect)

Accessing the `TopBottomAnimation.panGestureRecognizer` property works, but only with a litte workaround (which is fine for us as it works, however it's not super elegant).

The problem is that the recognizer will be

[2019-01-23 23:14] wtmoose commented on #278
It was a super easy change, so no problem. Try the latest commit. The gesture recognizer should be available immediately.

[2019-01-24 09:20] Khalphion commented on #278
Thanks a lot, perfect!

[code]

[code]

[2019-01-25 06:54] NagaSyam commented on #235
@wtmoose
Hey, I am also encountering the same issue and configuring my project to Swift 4.2 may fix this but I don't want to upgrade my project to 4.2 at the moment, So is there any other way to fix.
Thanks

[2019-01-25 15:55] wtmoose commented on #235
@NagaSyam Use SwiftMessages 5

[2019-01-25 18:28] narlei opened #279 "Abort trap: 6 Xcode 10.2"
After update to Xcode 10.2 Beta 1:

![screen shot 2019-01-25 at 16 26 39](https://user-images.githubusercontent.com/8092922/51765169-35cccc80-20be-11e9-800c-1341691e7ed3.png)

[code]

Someone more with this problem?

[2019-01-25 18:30] eduardofinotti commented on #279
I'm with the same problem here!!!!!

[2019-02-02 10:37] libern opened #281 "Not showing under custom uinavigationbar"
Currently I am using a custom navigationbar: https://github.com/Pircate/EachNavigationBar

If I use it instead of system one, I could not see the banner display under the custom navigation bar.

![image](https://user-images.githubusercontent.com/1830640/52163157-2d593f00-2719-11e9-94ac-0c01e29fbc7d.png)

Is there any solution?

Here is the demo project:

[Shark.zip](https://github.com/SwiftKickMob

[2019-02-06 20:40] danipralea opened #282 "presenting inside child view controller"
Hello I have a child navigation view controller being added in the second half of the screen. Is there any way I can present an alert under the navigation bar of the root view controller of that navigation controller with SwiftMessages?
I have tried pretty hard looking for one, but with no success.

Thanks,
Dan.

[2019-02-07 02:48] wtmoose commented on #282
Did you look into `presentationContext = .viewController(<your view controller>)` where `<your view controller>` would be a view controller within the navigation stack?

[2019-02-08 13:43] danipralea commented on #282
sweet. thanks. I totally missed that one.
an actual better solution was to use `.view`, cause my navigation bar is not actually a navigation bar, but just a custom one.

Again, thank you for the suggestion. cheers!

[2019-02-08 13:43] #282 closed

[2019-02-13 13:55] spnkr commented on #235
From [StackOverflow](https://stackoverflow.com/questions/52860566/error-when-running-xcode-simulator-framework-cuithemestore-no-theme-regist)

[2019-02-27 19:13] AlirezaSN opened #285 "Adjust View Controller's width in Popup"
Hi there, Can we adjust VC's width when using it as a popup ... just like setting backgroundHeight property to change its height 😅
Best Regards

[2019-03-03 07:45] viveksinghmehta opened #286 "Crash When opening Swift Messages"
2019-03-03 13:08:12.746937+0530 Bill Store[6852:58753] *** Assertion failure in -[UICollectionViewFlowLayout _getSizingInfosWithExistingSizingDictionary:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKitCore_Sim/UIKit-3698.93.8/UICollectionViewFlowLayout.m:1432
2019-03-03 13:08:12.751492+0530 Bill Store[6852:58753] *** Terminating app due to uncaught exception 'NSInternalInconsistencyExcepti

[2019-03-03 07:49] viveksinghmehta commented on #286
Crashes when opening Swift messages, it always says Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'negative sizes are not supported in the flow layout' but the size of the collection view cell is not negative.

[2019-03-03 14:35] wtmoose commented on #286
Are you showing a collection view with SwiftMessages? I need to see the code.

[2019-03-04 12:44] viveksinghmehta commented on #286
import UIKit
import SwiftMessages

class MainVC: UIViewController {

    @IBOutlet weak var dashBoardCollectionView: UICollectionView! {
        didSet {
            dashBoardCollectionView.delegate = self
            dashBoardCollectionView.dataSource = self
        }
    }

    let identifier = "cell"
    private let optionsArray = ["Estimates", "Invoices", "Payments", "Clients", "Products", "Li

[2019-03-04 14:25] wtmoose commented on #286
Try setting `config.presentationContext = .window(windowLevel: .normal)`.

[2019-03-05 14:59] viveksinghmehta commented on #286
Nothing same error

[2019-03-05 15:00] wtmoose commented on #286
OK. That is a pretty clear sign that your error has nothing to do with SwiftMessages. That setting displays the message in a separate window.

[2019-03-06 04:36] viveksinghmehta commented on #286
It only crashes when I open swift messages. Any suggestions what should I do to make it show.

[2019-03-06 07:29] #285 closed

[2019-03-07 13:15] fadizant commented on #137
I have same issue, but you can handle it using `transform` to content elements

[code]

[2019-03-07 14:45] wtmoose commented on #137
https://github.com/SwiftKickMobile/SwiftMessages/issues/181

[2019-03-08 16:50] viveksinghmehta commented on #286
Now I have removed collection view but still the messages does not appears,
![simulator screen shot - iphone 7 - 2019-03-08 at 22 15 51](https://user-images.githubusercontent.com/29269568/54042498-48bfda00-41f0-11e9-865b-80b4ea07dfd8.png)
this is what it  does

[2019-03-08 17:04] wtmoose commented on #286
Your message view probably doesn't have a height.

[2019-03-10 06:18] viveksinghmehta commented on #286
I removed the config and just used the message then it's showing, but when I use
`SwiftMessages.defaultConfig` it is crashing in file `WindowViewController.swift`. and code is
`extension WindowViewController {
static func newInstance(windowLevel: UIWindow.level?, config: Swiftmessages.Config) -> WindowViewController {
return config.windowViewController?(windowLevel, config) ?? WindowViewControler(

[2019-03-11 11:58] deshan commented on #286
With latest updates mine also crashes.

Without this line it works
var config = SwiftMessages.Config()

[2019-03-11 12:40] alouanemed opened #288 "The dialog hides StatusBarStyle and statusbar becomes black"
I present the controller B from A, which contains a collection view and a tabbar. When I show a dialog in B and hit back to A the status bar becomes dark and tabbar disappears completely.

[code]

I am using https://github.com/Ramotion/animated-tab-bar

[2019-03-11 13:55] wtmoose commented on #288
In general, I don't have time to diagnose compatibility issues with other 3rd party libraries. However, if you can send me a zipped up project that reproduces the problem, I will take a look.

[2019-03-13 10:57] #279 closed

[2019-03-14 11:52] daltonclaybrook opened #289 "Any plans to support tvOS?"
I'm trying to add this framework to my tvOS project, but it looks like tvOS is not currently supported. I would think (hope) adding support for tvOS would be relatively straightforward.

[2019-03-14 11:56] wtmoose commented on #289
No plan for that. I may look into it to understand what changes are involved.

[2019-03-14 12:10] alouanemed commented on #288
Thank your reply, I created a simple project which has the same flow, but it works well as expected. I used another library to show custom Alert View and it seems that it broke something related to Window, as the screen itself become unresponsive, it's like the app has frozen but actually, it's not.

Where do you think the issue that causes this behavior? Thanks.

[2019-03-14 12:11] wtmoose commented on #288
Please refer to my previous message

[2019-03-16 18:09] alouanemed commented on #288
https://github.com/huri000/SwiftEntryKit/issues/164#issuecomment-473236156

[2019-03-16 18:09] #288 closed

[2019-03-17 14:12] #276 closed

[2019-03-20 20:02] Dschee commented on #105
Wouldn't it make more sense to default to non-full-width messages on iPads? I mean, it really looks like not well thought through from the users perspective when the defaults are used and the defaults should be useful for most cases, no customization should be needed and it should look fine already. Having it full-width on iPad basically means this library doesn't _really_ support iPads but rather

[2019-03-26 10:54] fadizant commented on #140
any update for presentation animation from left to right or vice versa ?
Thanks.

[2019-03-26 14:00] wtmoose commented on #140
No update

[2019-03-28 02:09] Coeur commented on #289
@wtmoose I could do tvOs compatibility, but I would be happier if you could merge my already pending pull requests. ;)

[2019-03-28 07:14] X901 commented on #277
I did try this

[code]
but  the layout doesn't change

[2019-03-29 04:04] Coeur commented on #286
I tested your code, @viveksinghmehta. I did reproduce a crash, but it's because:
1. presenting the SwiftMessages will call `TopBottomAnimation.install(context:)`
2. which calls `container.layoutIfNeeded()`
3. which calls your `collectionView(_:layout:sizeForItemAt:)`
4. which calculates `(collectionView.frame.height / 3) - 10` at a time where your own MainVC.view has a size of `CGSize(width: 414,

[2019-03-29 04:22] Coeur commented on #286
@viveksinghmehta @deshan @wtmoose
I've reduced the code needed to reproduce the issue to:
[code]

And I made a sample at: https://github.com/Coeur/SwiftMessages-286
I'll let you investigate.

[2019-03-29 09:55] OkiRules opened #296 "Swift 5 support?"
Could you please add Swift 5 support?

Thanks in advance!

[2019-03-29 14:30] wtmoose commented on #296
Is the 4.2 version not working with Swift 5?

[2019-03-29 20:13] OkiRules commented on #296
It is, but it would be great if it was compiling with Swift 5

[2019-03-31 11:26] noxostudio commented on #296
Yep there are just some warnings but the app still work correctly for me ;)

[2019-04-01 05:30] IceFloe commented on #296
It would be nice to convert it to Swift 5

[2019-04-01 13:58] wtmoose commented on #296
See `work/swift5`. It will be released soon.

[2019-04-01 21:18] OkiRules commented on #296
Great!

[2019-04-03 19:12] ShimaaMagdii commented on #286
@Coeur I experienced the same crash just if i tried to change in the default config or use custom one.

[2019-04-04 04:02] Coeur commented on #286
@ShimaaMagdii your message is unclear to me:
- were you testing my MCVE sample or are you talking about a different case?
- if it's a different case, can you provide an [MCVE](https://stackoverflow.com/help/mcve) for it?
- it it's a different case, does it involves a UICollectionView and a CGSize somewhere?
- did you attempt to make sure that all your CGSize are created with positive values?

[2019-04-04 04:06] Coeur commented on #296
@OkiRules

At this in your Podfile:
[code]
And all your swift pods will build for Swift 5.

[2019-04-04 04:57] OkiRules commented on #296
Thanks this is really useful!

Thanks,
Oscar
On 4 Apr 2019, 3:06 PM +1100, Antoine Cœur <notifications@github.com>, wrote:

[2019-04-04 14:26] vorb commented on #296
And what should carthage-users do?

[2019-04-04 15:05] #296 closed

[2019-04-04 16:47] Coeur commented on #296
@vorb the same; living in [Carthage](https://en.wikipedia.org/wiki/Carthage_(municipality)) shouldn't be a problem.

Or you could check [the doc](https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#cartfile) and add this in your Cartfile:
[code]

[2019-04-09 23:50] abrpatel opened #298 "Memory Leak Tied To Presenter.swift"
<img width="1280" alt="Screen Shot 2019-04-09 at 6 48 03 PM" src="https://user-images.githubusercontent.com/947100/55842229-2de6cb00-5af8-11e9-997e-cb898bbba0a0.png">

Shows up when the view is presented using a segue

[code]

Would appreciate any suggestions on how to fix it.

[2019-04-10 00:44] wtmoose commented on #298
The segue intentionally retains itself until you dismiss the view controller in order remain the transitioning delegate for dismissal.

[2019-04-10 00:44] #298 closed

[2019-04-10 15:52] abrpatel commented on #298
Got it. Thanks!

[2019-04-16 05:47] Pratik-Sodha opened #301 "Swift5 Support - work/swift5 throws error"
I'm using below line to install pod to work with swift5.

`  pod 'SwiftMessages', :git => 'https://github.com/SwiftKickMobile/SwiftMessages.git', :branch => 'work/swift5'`

**Getting Below Error**

Thank you

[2019-04-16 05:57] Pratik-Sodha commented on #301
It's mistake in podfile ios version was 8.0

`platform :ios, '8.0'`

Change to 11.0 and it's working

`platform :ios, '11.0'`

[2019-04-16 05:57] #301 closed

[2019-04-16 17:00] gabrielvincent opened #302 "SwiftMessagesSegue won't present view controller"
I'm trying to present a view controller on a SwiftMessage using `SwiftMessagesSegue`, but all I get is the black translucent overlay over the source view controller.

![Screenshot 2019-04-16 at 13 50 58](https://user-images.githubusercontent.com/469519/56228998-75c1a100-6068-11e9-89f0-fb2509673b84.png)

If I tap anywhere in the screen, the overlay disappears.

This is the code I'm using to show th

[2019-04-16 17:28] wtmoose commented on #302
You need to specify a height for your destination view controller. Any of the following will work:

1. Add sufficient Auto Layout constraints such that it has an intrinsic height.
2. Set `preferredContentSize.height` (you can do this in code or in the storyboard).
3. Set `SwiftMessagesSegue.messageView.backgroundHeight`

[2019-04-16 17:44] gabrielvincent commented on #302
@wtmoose Thanks for the quick and assertive response! That did the trick.

[2019-04-16 18:03] #302 closed

[2019-04-18 08:14] goktugaral commented on #105
Hi, I am using SwiftMessagesSegue, and I really need to use some static width. I checked inside the class but because of messageView is not class of "MessageView" I could not use below function.

[code]

Although there are plenty of variable inside BaseView, like backgroundHeight, or layout margin. But it would be great if you support width variable too.

[2019-04-18 14:14] Dschee commented on #105
@rajaths131 I know you found a workaround for this, but that's IMHO not a reason to close it, especially given that for others (like me) this issue is still apparent. So could you try reopening this? I'm not sure if GitHub allows that, but it allowed you to close it, so it might work ... ?

[2019-04-18 14:21] wtmoose commented on #105
@goktugaral I'll take a look. However, you should be able to do:

[code]

[2019-04-19 05:25] hemangshah commented on #182
I'm facing the similar issue - one of the view-controller which is part of the navigation-controller,  I am presenting this navigation-controller and it causing this issue for me. It is displaying the SwiftMessages underneath the navigation-bar. To prevent this, I changed the `navigationCtrl.modalPresentationStyle = .overCurrentContext` and it helps but then there are other consequences with the a

[2019-04-19 16:14] wtmoose commented on #182
@hemangshah can you use `config.presentationContext = .window(windowLevel: .normal)`?

[2019-04-22 05:40] hemangshah commented on #182
Yes, you're right, that helped me actually! Thanks 👍 @wtmoose

[2019-04-23 06:34] Harryjeffs opened #303 "swiftmessagessegue"
Is there a way to implement SwiftMessageSegue from appDelgate.swift?

The method I have tried does not show any popup, then again, shows no errors. Cheers.

[2019-04-23 09:45] MrShafiee opened #304 "SwiftMessages.Config has no member presentationContext!"
Dear @Coeur,
Thanks for your useful Library, I used SwiftMessages on Xcode 10.1 and Swift 4.2 everything was okey, but now when I run the same code on Xcode 10.2 and swift 5, app crash every time that SwiftMessage was shown!

The only difference is that when I update Xcode and use swift 5, This error appear:
"_Value of type 'SwiftMessages.Config' has no member 'presentationContext'; did you mean '

[2019-04-23 11:04] Coeur commented on #304
Dear MrShafiee , it is not my library at all. It's @wtmoose 's.
I use this lib under Swift 5 on App Store without issues.
My actual production code is:
[code]

Now, seeing as you're still using UIWindowLevelStatusBar, it seems to me that you did not fully upgrade to the latest version.

Please double check:
- your installed version written in Podfile.lock
- your Application target Swift version
-

[2019-04-23 14:06] wtmoose commented on #304
https://github.com/SwiftKickMobile/SwiftMessages/issues/229

[2019-04-23 14:06] #304 closed

[2019-04-23 14:37] wtmoose commented on #303
You can implement `SwiftMessageSegue` from anywhere provided that you have a view controller to segue from. This might help https://github.com/SwiftKickMobile/SwiftMessages/issues/302.

[2019-04-23 14:41] kajensen commented on #218
Would it be possible to fix these warnings along with a Swift 5.0 release? :)

[2019-04-23 20:38] kajensen commented on #218
I just updated the swift5 branch to remove the deprecated method _usage_/silence Xcode 10.2 warnings. I won't submit a pull request as the author is opposed to breaking deprecations, per this thread.

https://github.com/kajensen/SwiftMessages/tree/work/swift5

[2019-04-24 11:30] HebaAtallah opened #305 "Attach SwiftMessages to the bottom of navigation controller but above the tab bar"
I need to display a message at the bottom of the Navigation Controller but above the tab bar.

[2019-04-24 13:16] wtmoose commented on #305
Have you checked the demo app?

[2019-04-24 14:44] HebaAtallah commented on #305
Yes, I did.

[2019-04-24 14:51] HebaAtallah opened #306 "I can't tap inside the message"
The message appears but when I click on it, it clicks the behind view

[2019-04-24 15:06] wtmoose commented on #305
Could you elaborate? As far as I can tell, the demo app does what you’re asking for.

[2019-04-24 15:11] wtmoose commented on #306
Could you elaborate? Tips for asking questions: https://stackoverflow.com/help/how-to-ask

[2019-04-24 15:37] HebaAtallah commented on #306
I've displayed the message above table view, but when I click on the message to invoke the tap handler the view that behind the message gets clicked

[2019-04-24 15:50] wtmoose commented on #306
This isn't a common problem, so I need you to provide enough information to understand the unusual thing that you're doing.

You can run the sample app and see that taps on messages don't go to the underlying table view.

Can you attach a sample project?

[2019-04-25 13:39] CedricSoubrie commented on #296
Do you plan to merge `work/swift5` branch into `master` soon ?
And by the way : this library is AMAZINGLY good !!!

[2019-04-25 14:05] lixiang1994 opened #307 "please swift5.0"

[2019-04-25 14:48] wtmoose commented on #296
Yep, I do. Thanks!

[2019-04-25 14:49] #307 closed

[2019-04-26 03:27] lixiang1994 commented on #307
spec.swift_version    = '5.0'

[2019-04-29 02:13] Coeur commented on #307
There is a branch for it: https://github.com/SwiftKickMobile/SwiftMessages/tree/work/swift5.
So simply have this in your Podfile:
[code]

[2019-04-29 02:54] lixiang1994 commented on #307
@Coeur Thank you

[2019-04-29 13:29] wtmoose commented on #307
@lixiang1994 sorry, I thought I commented about the Swift 5 branch when I closed this.

[2019-04-29 13:58] #303 closed

[2019-04-29 15:35] Coeur commented on #307
@wtmoose I believe it's fine to merge it to master already, independently from your decision of when to make next release. Or if your concern is compatibility with Xcode 10.1, then please merge everything else except the podspec change (keeping it at Swift 4.2).

[2019-04-29 15:54] wtmoose commented on #307
Yep. Done.

[2019-04-29 16:53] CodingAleCR commented on #286
I am experiencing the same issues when using a custom config, if I call the SwiftMessages.show(:view) then it works, but whenever I pass a custom config onto the show method it crashes. And the worst thing is that it crashes even when not modifying the defaultConfig var

[2019-04-29 17:48] wtmoose commented on #286
@CodingAleCR send me a sample project that crashes and I'll take a look.

[2019-04-29 21:39] CodingAleCR commented on #286
It's propietary so I can't send it to you, but I'll see if I can set it up in a different project and let you know. Thanks!

[2019-04-30 00:26] Coeur commented on #286
@wtmoose There is a sample in my post above already, that matches the use case of the issue author: https://github.com/SwiftKickMobile/SwiftMessages/issues/286#issuecomment-477861819

The problem being that **the whole view controller height is reduce to zero when there is a UICollectionViewDelegate**, so if there is anything that requires a minimum positive height somewhere, it will not support t

[2019-04-30 00:31] Coeur commented on #266
It's a good answer @wtmoose. I believe you can close that issue now.

[2019-04-30 09:31] HebaAtallah commented on #305
I wasn't adding the stack view to the nib file, so it causes many issues

[2019-04-30 09:31] #305 closed

[2019-04-30 09:32] #306 closed

[2019-04-30 13:33] #266 closed

[2019-04-30 22:40] CodingAleCR commented on #286
So my issue was regarding the swift version my project needed (Swift 4) I used version 5.0.1 of SwiftMessages and worked like a charm. Thanks again for every bit of help.

[2019-04-30 22:57] wtmoose commented on #286
@Coeur thanks for supplying the sample project (I had to look up MCVE).

[code]

@viveksinghmehta you're attempting to display view controller's view as a message, causing it to be relocated in the view hierarchy in such a way that the height is zero and your collection view code crashes. Try changing the last line to the following.

[code]

[2019-04-30 22:57] #286 closed

[2019-05-04 09:02] Kurt57 opened #309 "Scrollable Message"
Hi first of all cool module.

I'm showing and SwiftMessage which is greater than the device height.

Therefore the message ist > the device height. But it isn't scrollable. Is that right behavior how it is implemented now? Is there no scroll option vor the whole message ?

[2019-05-04 17:03] wtmoose commented on #309
None of the views that come with SwiftMessages contain scroll views. However, you can display any arbitrary view, so feel free to roll your own. IMO, the easiest approach is to copy one of the nib files that most closely matches the layout you want and add a scroll view to it. If you share your designs and/or a prototype, I can give you more specific suggestions.

[2019-05-04 17:51] stanmots commented on #218
Very strange issue.

The author added deprecation messages [here](https://github.com/SwiftKickMobile/SwiftMessages/blob/6b348edcc4b1a167f2961f3f921d274792272c77/SwiftMessages/MarginAdjustable.swift#L43-L50). Yes, this is public protocol which means Xcode should display warnings only if **we** (consumers of this library) are calling the deprecated functions or incorporating the deprecated types in

[2019-05-05 02:21] wtmoose commented on #218
@stanmots the library can’t maintain backward compatibility without reading the deprecated property. Deprecated functionality is still supposed to work, right?

[2019-05-05 02:55] wtmoose commented on #218
I’ve assumed that anyone coming on here to complain about the deprecation warnings has looked at the comments in `MarginAdjustable` enough to be aware that the properties in question are settings that affect how SwiftMessages manages a view’s layout margins. Settings have to be read, of course, to achieve the promised result.

But sleep well tonight, folks. The deprecated properties are going to b

[2019-05-05 11:54] stanmots commented on #218
Thanks, these are fantastic news. Can't believe Gods heard my prayers 😇

[2019-05-05 15:42] hendksoliman opened #310 "Gradient background color"
When i add a gradient layer to view.backgroundView. the message title and body aren't shown anymore .

[2019-05-06 03:23] beilusen opened #311 "Main Thread Checker: UI API called on a background thread: -[UIView initWithCoder:]"
Main Thread Checker: UI API called on a background thread: -[UIView initWithCoder:]
PID: 622, TID: 189070, Thread name: AVAudioSession Notify Thread, Queue name: com.apple.root.default-qos.overcommit, QoS: 21
Backtrace:
4   SwiftMessages                       0x00000001093a5410 $s13SwiftMessages8BaseViewC5coderACSgSo7NSCoderC_tcfc + 1204
5   SwiftMessages                       0x00000001093a5628 $

[2019-05-06 03:24] wtmoose commented on #311
Don't call SwiftMessages from a background queue.

[2019-05-06 03:24] #311 closed

[2019-05-06 13:44] wtmoose commented on #310
https://stackoverflow.com/questions/28765608/why-adding-sublayer-overlaps-subviews/28772727

[2019-05-06 13:44] #310 closed

[2019-05-06 22:18] JakeRL opened #312 "6.0.3 Pod"
It looks like this project was updated for Swift 5 and the Podspec was updated to 6.0.3 but the highest version I'm able to update to in my project is 6.0.2. Are you guys planning on pushing up the newest podspec version?

[2019-05-06 22:20] wtmoose commented on #312
Yes when 6.0.3 is released in the next couple of weeks.

[2019-05-06 22:20] #312 closed

[2019-05-06 22:21] JakeRL commented on #312
Got it. Thanks for the update.

On May 6, 2019 at 5:20:25 PM, Timothy Moose (notifications@github.com)
wrote:

Yes when 6.0.3 is released in the next couple of weeks.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/SwiftKickMobile/SwiftMessages/issues/312#issuecomment-489804265>,
or mute the thread
<https://github.com/n

[2019-05-08 08:22] anushkmittal commented on #229
bump this is still an issue. is there no way to support 4.1 :/

[2019-05-08 09:23] mkoorn commented on #186
Hi @wtmoose ,

I am still having trouble showing multiple messageViews at the same time.

If I am using the sharedInstance and show views, the views are queued and only displayed after dismissing the top one.
If I use multiple instances, the views are shown on top of each other.

Can you clarify how to show multiple views below each other?

[2019-05-13 19:14] n3d1117 opened #313 "Custom width on a UINavigationController segue programmatically"
Hello, awesome library!

I'm trying to use `SwiftMessagesSegue` with a `UITableViewController` inside a `UINavigationController` using `.centered` layout. So far works fine:

[code]

[code]
![ss1](https://user-images.githubusercontent.com/11541888/57647515-6c721880-75c3-11e9-8e81-51106ccc057f.png)

However I noticed that the modal goes full width even in landscape and on iPads, making it look way

[2019-05-13 19:41] wtmoose commented on #313
I'm working on better defaults for iPad width, which should be available within the next week or so.

As a quick fix, you could try adding a max width constraint to `segue.messageView.backgroundView`.

[2019-05-13 20:17] n3d1117 commented on #313
Hello,
Thanks for the quick reply! I tried the fix you mentioned:

`segue.messageView.backgroundView.widthAnchor.constraint(lessThanOrEqualToConstant: 600).isActive = true`

But it conflicts with other constraints:

![la](https://user-images.githubusercontent.com/11541888/57650970-6f253b80-75cc-11e9-9321-57ac70b0c08f.png)

[2019-05-13 23:54] n3d1117 commented on #275
Are there any updates on this?

[2019-05-14 12:07] wtmoose commented on #275
I haven’t worked on this, yet but thanks for the reminder.

[2019-05-14 18:16] CodingAleCR commented on #275
I'm just showing a plain old SwiftMessageView as an ActionSheet, the thing is that it has a UITextView on it and the keyboard is shown on top of it. Do you have any suggestion as to how I could move the SwiftMessageView to be on top of the Keyboard?

[2019-05-14 20:21] CodingAleCR commented on #275
Nevermind, I just figured I needed to adjust the bottom constraint for my ContentView whenever KeyboardDidHide or KeyboardWillShow notifications are received. Just laying it out there if anyone else need's it. Anyway, thanks.

[2019-05-14 23:49] n3d1117 commented on #275
Thanks for sharing @CodingAleCR. I'm using a programmatic `SwiftMessagesSegue` with `.centered` layout, presenting a `UINavigationController`, and I can't seem to figure out exactly what constraint should be changed on keyboard show/hide notifications.

[2019-05-16 06:53] tylerlantern opened #314 "Behaviour of fast toggling display and hidden is weird"
If I would to show two message streak. It supposed to be hiding the first one and displaying the new second one. For now, the second one will never show up. So I fixed it by adding
```  newMessageView.id = UUID().uuidString ```
To reproduce an issue, you have to set both title and body to be **static text**

 Below is the chunk of code to reproduce an issue
[code]

[2019-05-16 12:09] delbyze opened #315 "Fix warnings Swift 5.0"
Please, can you fix warnings for Swift 5.0 ?

<img width="858" alt="Capture d’écran 2019-05-16 à 14 08 29" src="https://user-images.githubusercontent.com/38207269/57852716-3069ce00-77e4-11e9-8b34-14f808ef5f2b.png">

[2019-05-16 13:55] wtmoose commented on #314
`config.ignoreDuplicates = true`

[2019-05-16 13:56] wtmoose commented on #315
Closing as duplicate

[2019-05-16 13:56] #315 closed

[2019-05-17 06:32] #314 closed

[2019-05-19 01:31] wtmoose commented on #313
Can you try the head of `master` and let me know if it works for you? It has improved default sizing on iPad and fixes the Auto Layout error you had. Here are the updated readme notes on sizing:

[2019-05-19 18:40] n3d1117 commented on #313
Just tested, it's working now @wtmoose! Great addition to the library, I think you can close this.
Thank you!

[2019-05-19 20:18] Kanishka3 opened #316 "Not able to use any other than tab view"
I am trying to present a message view of type CardView and MessageView but I am not able to do so and every time I try to do it, I get tabView only.

Here's the code
Check it out:

[code]

[2019-05-19 20:19] Kanishka3 commented on #316
Is it because that I am trying to customise the Swift Message

[2019-05-19 20:35] wtmoose commented on #316
No. The above code will never display tab view, so my theory is that you're not running the code you think you are. If you can attach a sample project, I'll take a look.

[2019-05-20 14:56] #309 closed

[2019-05-20 20:53] wtmoose commented on #275
I added first class support for this. If anyone wants toto check the head of `master` and let me know how it works out, I'll wait a bit before releasing.

[code]

`KeyboardTrackingView` its a view that automatically adjusts it's height based on keyboard events and can be used with Auto Layout to make views avoid the keyboard. When you supply an instance of `KeyboardTrackingView` as shown above, Sw

[2019-05-20 22:49] n3d1117 commented on #275
@wtmoose Thank you very much for the update. Your solution is working fine for `.bottom` presentation style, however I'm using a `.centered` style View Controller with a limited height, and the result is the following:
<p align="center">
  <img src="https://user-images.githubusercontent.com/11541888/58056284-eb85c480-7b60-11e9-9d87-6c427114331c.png" height="400">
  <img src="https://user-images.gi

[2019-05-20 23:44] wtmoose commented on #275
@n3d1117 Yep, I agree 100%. That is what I intended, but I didn't think my implementation through very well. Try the latest update and thanks for helping me test!

[2019-05-21 06:01] hamedmohammadi opened #317 "version 6.0.3 installation with pod failed"
i looked at the podspec file you declared 6.0.3 but repo doesn't have same tag

[2019-05-21 08:17] wtmoose commented on #317
It isn’t released

[2019-05-21 08:17] #317 closed

[2019-05-21 10:19] n3d1117 commented on #275
@wtmoose Great stuff! Working perfectly now. Thanks a lot

[2019-05-23 14:42] wtmoose commented on #313
Fixed in 7.0.0.

[2019-05-23 14:42] #313 closed

[2019-05-23 14:42] wtmoose commented on #275
Fixed in 7.0.0

[2019-05-23 14:42] #275 closed

[2019-05-23 14:43] #274 closed

[2019-05-23 14:43] wtmoose commented on #218
Deprecated APIs removed in 7.0.0

[2019-05-23 14:43] #218 closed

[2019-05-23 17:50] wtmoose commented on #312
7.0.0 is released

[2019-05-28 10:35] PawanmSpaceo opened #320 "tapHandler not called"
I have implement your code for custom popup

[code]

[2019-05-28 18:22] wtmoose commented on #320
I can't troubleshoot your custom view without the code. I suggest that you step through the function `installTapRecognizer()` and identify if all of the conditions are met and make sure that `backgroundView` has user interaction enabled and that nothing is blocking it.

[2019-05-31 12:59] #320 closed

[2019-05-31 12:59] #316 closed

[2019-06-03 05:23] tuppaware opened #321 "Crash on custom config."
Seems to be related to particular version.
Project is set at swift 4.0 because of other dependencies.
But trying to use SwiftMessages 5,6,7 causes crashes when I create a custom config ?
If there a version I can use that will support < swift 4 ?

[2019-06-03 13:56] wtmoose commented on #321
https://github.com/SwiftKickMobile/SwiftMessages/releases/tag/4.0.0

[2019-06-03 13:56] #321 closed

[2019-06-04 16:01] lcuiandlc opened #322 "CustomNib forever not working"
static func demoCustomNib() {
        let view: TacoDialogView = try! SwiftMessages.viewFromNib()
        view.configureDropShadow()
        view.getTacosAction = { _ in SwiftMessages.hide() }
        view.cancelAction = { SwiftMessages.hide() }
        var config = SwiftMessages.defaultConfig
        config.presentationContext = .window(windowLevel: UIWindow.Level.statusBar)
        config.durati

[2019-06-04 16:38] wtmoose commented on #322
Put a breakpoint in `SwiftMessages.internalHide(id:)` to find out what is causing the message to hide. This question comes up occasionally and it always turns out that people are accidentally calling `hide` somewhere.

[2019-06-17 11:27] Idomo opened #323 "xCode 11 & Swift 5 warnings"
After updating to xCode 11 & Swift 5, I'm getting those warnings:
`Coercion of implicitly unwrappable value of type 'SideMenuTransition?' to 'Any' does not unwrap optional`

I'm really not sure why is that, 'cause the value is from type of `SideMenuTransition!` and not `SideMenuTransition?` as the warning says.

Looks like casting all of those targets to `Any` silenced the warnings, but I guess th

[2019-06-17 19:05] wtmoose commented on #323
I’ll take a look at Xcode 11 soonish, so I’ll leave this ticket open as a placeholder.

[2019-06-17 20:36] Idomo commented on #323
@wtmoose Great, you may also look for analyzer warnings/errors (Shift + Cmd + B)

[2019-07-10 05:57] chamitha opened #324 "Incorrect Comment for `KeyboardTrackingView.isPaused`"
The comment for the `isPaused` property of the `KeyboardTrackingView.swift` is incorrect. It must read

Setting `isPaused = false` in `viewWillAppear` and `isPaused = true` in `viewWillDisappear` usually works

[2019-07-10 16:52] markpokornycos opened #325 "KeyboardTrackingView incorrect height calculation"
SwiftMessages version 7.0.0

The KeyboardTrackingView responds to the notification UIResponder.keyboardWillShowNotification by calling `show(change: notification:)`. That notification can be posted more than once. When that happens, the `heightConstraint` calculation gets applied after it was already applied. The resulting height is greater than needed, setting the rest of the view farther above t

[2019-07-10 19:29] wtmoose commented on #325
I don't see the problem. The calculation doesn't depend on the previous result, provided that the view's bottom position (`thisRect.maxY`) is fixed:

[code]

[2019-07-11 04:30] #322 closed

[2019-07-11 04:30] #250 closed

[2019-07-11 06:26] appleshine opened #326 "Custom view border color"
Hello, not sure if this is a silly question but how can I set the border color for my custom message view?

I have tried layer.borderUIColor and layer.borderColor but both doesn't work. I did set my layer.borderWidth to 2.

I have also tried setting
[code]

But it all doesn't work :( Dont know what am I doing wrong

[2019-07-11 14:41] markpokornycos commented on #325
I have a constraint on the KeyboardTrackingView that pins the bottom to the view's safe area. I do not set any topMargin.

On the first notification, here are the frames and height calculation.
[code]
This seems right to me, even though the difference between the newHeight and the keyboard height, the origin of thisRect is 5 points below the bottom of the window (which is 812 high).

On the second

[2019-07-11 16:33] wtmoose commented on #325
Hmm. I'm not clear why the `thisRect.maxY` isn't constant in your UC. The instructions say:

If `thisRect.maxY` isn't constant, then you haven't pinned the bottom to the edge of the screen. I don't think you could reasonably expect `KeyboardTrackingView` to work as expected if you're allowing it to move around the screen in addition to the automatic height adjustment.

[2019-07-11 16:37] markpokornycos commented on #325
Here are the constraints on the Keyboard Tracking View:

![Screenshot 2019-07-11 10 36 21](https://user-images.githubusercontent.com/3075796/61068670-cc205080-a3c7-11e9-8b5d-2ac8fd037e6e.png)

What's missing there?

[2019-07-11 19:37] wtmoose commented on #326
You gotta set a border width

[2019-07-11 19:37] #326 closed

[2019-07-11 20:05] wtmoose commented on #325
I don't know. This discussion has evolved into an Auto Layout question, which is hard for me to answer without the source code. If you're pinning the bottom of your view to the bottom safe area and that isn't where it is, then it sounds like you've got Auto Layout errors.

[2019-07-12 05:54] appleshine commented on #326
As said above I did set the layer.borderWidth to 2

[2019-07-12 06:04] appleshine commented on #326
I fixed the problem by using IBDesignable instead. Thanks though :)

[2019-07-12 20:32] markpokornycos commented on #325
Maybe, hard to tell precisely what's happening. I am not getting any unsatisfiable constraints exceptions.

I took some time to look at the constraints in the view hierarchy, and they look right to me. One thing I noticed though is that the priority on the constraint pinning the bottom of SwiftMessages.MaskingView to the bottom of our view controller's view has a priority of 200. I don't see confl

[2019-07-13 14:11] xiaoqiangv commented on #279
I have encountered the same problem on my page. Have you solved it?

[2019-07-13 18:58] wtmoose commented on #325
SwiftMessages pins the bottom of `MaskingView` to the superview on line 332 of `Presenter.swift` with priority 1000. Some animators do pin the top or bottom of the message view to the masking view using priority 200, which is intentional.

To have a swift message view avoid the keyboard, you should do the following:

[code]

The discussion in the docs about installing your own instance of `Keyboar

[2019-07-15 07:28] martynovskij commented on #326
It is not works.

[2019-07-15 07:44] martynovskij commented on #326
I fixed the problem by changing backgroundView.layer (not view.layer):
`
view.backgroundView.layer.borderWidth = 3.0
view.backgroundView.layer.borderColor = UIColor.white.cgColor
`

[2019-07-18 10:59] Mteixeira88 opened #327 "Swift messages not working in Swift UI"
Hi there,

I'm trying to use Swift Messages on Swift UI and for some reason it's not showing

This is the code I'm trying to use:

`.onAppear() {
                // Instantiate a message view from the provided card view layout. SwiftMessages searches for nib
                // files in the main bundle first, so you can easily copy them into your project and make changes.
                let view =

[2019-07-18 15:16] wtmoose commented on #327
I likely won't have time to look into SwiftUI anytime soon.

[2019-07-18 16:33] Mteixeira88 commented on #327
Thanks for answering

[2019-07-22 16:09] AlirezaSN opened #328 "ignoreDuplicates is not working"
Hi, i use `ignoreDuplicates` property but when i call my function 10 times in a short time, just one Message appears. where did i make a mistake? :)

my call code:
[code]

my function:
[code]

meanwhile, the `customId` property is private and we can't set a dynamic string.

thanks a lot.

[2019-07-22 18:47] wtmoose commented on #328
Its a bug. Thanks for letting me know.

I guess that feature isn't used much and nobody noticed until you did. If you're in a hurry, `MessageView.id` is writable.

[2019-07-22 19:46] AlirezaSN commented on #328
i'll check it. thank you 👍👍

[2019-07-23 02:33] nizenyang opened #329 "bulid fail"
![image](https://user-images.githubusercontent.com/8390188/61678384-3d032900-ad35-11e9-9460-75a6c9f44e78.png)
please update for xcode version 10.3

[2019-07-23 03:36] suraphanL commented on #329
@nizenyang  Rebooting my mac solved it.

[2019-07-23 03:45] OkiRules opened #330 "Please add support for Swift Package Manager."
Please add support for installing this project with the Swift Package Manager.

Thanks!

[2019-07-23 04:00] nizenyang commented on #329
thank you very much

[2019-07-23 04:00] #329 closed

[2019-07-23 07:16] rkittinger opened #331 "Xcode 10.3: Failed to find or create execution context for description"
Hello, I just updated to Xcode 10.3, project is updated to Swift 5, but worked fine before.
Now I am getting this error when building:

/Pods/SwiftMessages/SwiftMessages/Resources/CenteredView.xib:
Failed to find or create execution context for description '<IBCocoaTouchPlatformToolDescription: 0x7ff80c629740> System content for IBCocoaTouchFramework-NineOneAndLater <IBScaleFactorDeviceTypeDescrip

[2019-07-23 07:20] rkittinger commented on #331
Solution:
sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService

[2019-07-23 07:20] #331 closed

[2019-07-23 08:23] merimprop commented on #229
@wtmoose I have the same issue, I have swift 4.1, xcode 10, SwiftMessages 5.0.1, and I get SwiftMessages.Config has no member presentationContext. What could be the issue? Can I stay on swift 4.1?

[2019-07-23 12:25] Harryjeffs opened #332 "swiftmessagesegue presenting overtop"
I was wondering if there is a fix for this; the darkened shadow for the actual view that was visible.

<img width="309" alt="Screen Shot 2019-07-23 at 10 23 11 pm" src="https://user-images.githubusercontent.com/18356889/61711908-8042b380-ad98-11e9-8890-c2b6d1e3e424.png">

This happens when another view is `present()`ed ontop of the swift segue. Is there anyway to stop this affect from happening or

[2019-07-23 13:52] wtmoose commented on #332
This is a duplicate of #243. Can you change your topmost view controller's modal presentation style to `.overFullScreen`?

[2019-07-23 13:58] wtmoose commented on #229
@merimprop SwiftMessages 5.0.1 has been verified to work with Swift 4.1. I suggest that you go back and verify your SwiftMessages and Swift versions.

[2019-07-25 09:34] lixiang1994 opened #333 "Xcode10.3 xib Error"

[2019-07-25 09:41] lixiang1994 commented on #333
Restart

[2019-07-25 09:41] #333 closed

[2019-07-27 18:12] #325 closed

[2019-07-28 07:25] azureplus opened #334 "how to set shadow?"
open func configureDropShadow() {
        layer.shadowColor = UIColor.black.cgColor
        layer.shadowOffset = CGSize(width: 0.0, height: 2.0)
        layer.shadowRadius = 6.0
        layer.shadowOpacity = 0.4
        layer.masksToBounds = false
        updateShadowPath()
    }

    /// A convenience function to turn off drop shadow
    open func configureNoDropShadow() {
        layer.shadowOpa

[2019-07-28 21:13] wtmoose commented on #334
Have you seen #318? Otherwise, why do you need access to `updateShadowPath`?

[2019-07-29 04:54] azureplus commented on #334
@wtmoose  thanks

[2019-07-29 04:54] #334 closed

[2019-08-01 19:59] tchambers3 opened #335 "`windowLevel` in iOS 13"
I'm trying to add a message that slides in over top the status bar. I'm using  the `.alert` window level which works on iOS 12 but on iOS 13 this doesn't seem to be having the desired effect and the message comes in underneath the status bar.

[2019-08-01 20:45] wtmoose commented on #335
Have you tried `.statusBar`?

[2019-08-01 21:03] tchambers3 commented on #335
Yeah I tried `.statusBar` as well but this also comes in underneath the status bar.

[2019-08-02 15:45] wtmoose commented on #335
Sounds like a radar is needed. I'll take a look when I get a chance.

[2019-08-04 16:28] wtmoose commented on #328
This is a bug, so leaving open

[2019-08-11 00:33] wtmoose commented on #335
I filed a bug for this. It seems that the `windowLevel` property is broken on projects created with older versions of Xcode running on iOS 13.

Since iOS 13 has new window management APIs, I haven't had time to look into projects created with Xcode 11. When I recreate this project in Xcode 11, the window doesn't even display.

If anyone wants to file a duplicate bug report, you can use the followi

[2019-08-13 18:35] patmalt opened #336 "SwiftMessagesSegue with preferredContentSize and safeAreaInsets"
I am presenting a view controller via `SwiftMessagesSegue` and configuring it with a layout of `.bottomMessage`. This view controller needs to have a dynamic height, based on its content. I was happy to see the view controller's `preferredContentSize` is respected and the view is sized correctly, with one exception...

The content of my view controller does not respect the safe area inset and the

[2019-08-15 02:49] wtmoose commented on #336
Thanks for bringing this up. I don't know if this is an iOS bug or if I'm doing something wrong, but the main issue is that the presented view controller's safe area insets are zero. I've implemented a potential workaround that you can try on the head `master`.

And here is a sample project where you can see proper safe area insetting in action:

[SwiftMessagesTest.zip](https://github.com/SwiftKic

[2019-08-15 19:55] patmalt commented on #336
Thanks for the quick response and helping me out!

To be clear, I believe this is neither an iOS bug or the fault of `SwiftMessages`. A view's `safeAreaInsets` are not set until it is added to the view hierarchy. According to the Apple documentation:

From what I can tell, at the time `SwiftMessagesSegue`'s `TransitioningPresenter` asks for
`toViewController`'s `preferredContentSize`,  `toView` ha

[2019-08-15 20:17] patmalt commented on #336
One caveat I forgot to mention when I stated that I got `toView`'s contents to float above the un-safe area.

Setting `messageView.bounceAnimationOffset` to `0` (which is done in `configure(layout:)`) made the padding at the bottom larger than the safe area. This was the case even when `messageView.layoutMarginAdditions` is set to `UIEdgeInsets.zero`.

I found that to be extremely confusing, and I

[2019-08-15 21:40] wtmoose commented on #336
Yep, I'm aware of this. However, the safe area insets were never being set. I verified after the view had appeared and the transition animation had completed.

Yep, nav controllers don't work with self-sizing. The only way I know how to size nav controller is to set an explicit height through `preferredContentSize` or adding a height constraint.

So is your top-level view the nav controller's view

[2019-09-03 17:23] danielsaidi commented on #330
Let me know if you want this done, but don't have the time to do it yourselves. I'll be more than happy to help, but don't know if it'd conflict with what you're planning in your other branches.

[2019-09-05 13:15] wtmoose commented on #330
@danielsaidi I've love to get a PR on this one.

[2019-09-06 06:10] danielsaidi commented on #330
@wtmoose I'll see what I can do :)

[2019-09-06 06:31] danielsaidi commented on #330
@wtmoose I started converting the project to support spm and its folder structure (with a Sources and a Tests folder), but then noticed that SwiftMessages relies on xibs and built-in resources, which spm doesn't support. People could add these xibs and resources to their own projects, but I don't think that's the way it should be solved. I replaced xibs with code in my own projects and have no bui

[2019-09-06 13:56] Jasperav commented on #327
That would be great because than we can use it in SPM

[2019-09-06 14:10] wtmoose commented on #330
That is unfortunate. In my mind, the use of xibs is a fundamental aspect of the library. I need to give this one some thought. Thanks for looking into it.

[2019-09-06 14:48] wtmoose commented on #327
@Jasperav huh?

[2019-09-06 18:31] Jasperav commented on #327
Swift Package Manager supports SwiftUI, not UIKit. We can get rid of Cocoapods/Cartage and use a native dependency manager instead.

[2019-09-07 15:58] griffind opened #338 "Add logging and clean up console"

[2019-09-07 15:58] #338 closed

[2019-09-07 16:00] griffind commented on #338
Wrong repo sorry 😳

[2019-09-07 16:36] wtmoose commented on #327
@Jasperav I view this as a compatibility ticket. It's not about converting the library to SwiftUI.

[2019-09-08 15:15] griffind commented on #178
I am getting this error currently while testing a do catch block.

[code]

Misspelled the nib name purposefully.
Tried clean, pod update to no avail.
What I expected was for the catch to run.
Cocoapod install -v `1.7.1`

Podfile:
[code]

Any help appreciated, let me know if you need further info. Thanks for the work @wtmoose

[2019-09-09 15:23] wtmoose commented on #178
@griffind Apple's `loadNibNamed(_:owner:options:)` function raises an exception if you try to load a non-existent nib file. I can potentially add additional checks to throw an exception if the nib doesn't exist. However, assuming you're statically defining your resources, why are you adding 5 lines of error handling code for something that will never happen? Doesn't seem worth the extra clutter.

[2019-09-12 10:50] eirikvaa opened #339 "Crash on Xcode 11 GM"
We're making sure our application is compatible with iOS 13. Using Xcode 11 GM and SwiftMessages 7.0.0. This crashes and gives `EXC_BAD_ACCESS`:

[code]

Also trying to access `.bodyTitle`, `.button`, et cetera crashes.

[2019-09-12 11:20] #339 closed, assigned to nobody

[2019-09-12 21:24] ZebedeeTR opened #340 "Running SwiftMessagesSegue programmatically"
Hello there,
I am creating the destinationView from the **xib file.**
I couldn't run SwiftMessagesSegue with programmatically.
I didn't find out where I made a mistake.

I create destinationView like this
`let destinationVC = AddNewServerVC(nibName: "AddNewServerVC", bundle: nil)`

Then I try to show it as follows. **I see only shadow.**
`let segue = VeryNiceSegue(identifier: nil, source: self, de

[2019-09-13 13:47] wtmoose commented on #340
Not sure, but here's a sample project that you can use for reference:

[SwiftMessagesTest.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/3610275/SwiftMessagesTest.zip)

My initial guess is that your view controller's Auto Layout constraints are doing something weird, maybe resulting in zero height.

The SwiftMessages view hierarchy is `MaskingView > BaseView > CornerRoundingView > You

[2019-09-13 15:44] ZebedeeTR commented on #340
Hi.
Thanks for the help.

I couldn't figure out why my view's height comes from zero. I added the same View to your Test project, but it's okay there. :))

`destinationVC.preferredContentSize = CGSize(width: 0, height: 400)`
This code solves my problem.

I'm adding my project, if you want to examine it :)

[ServerMonitor.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/3610662/ServerMon

[2019-09-13 15:44] #340 closed

[2019-09-16 14:36] wtmoose commented on #340
I took a look at your project and there are a couple of things:

1. Your SwiftMessage is a little bit out of date. If you update to 7.0.0, SwiftMessages configures a very low-priority height constraint of 350pt as a default in case you don't specify a height.
2. Your view controller's Auto Layout constraints are not well-defined in that there's no intrinsic height.

You can use `preferredContentSi

[2019-09-17 10:16] blg-nb opened #341 "Xcode 11 GM 1 + 2 – No messages on iPhone or Simulator"
Hallo,

i have a problem with SwiftMessages in v 7.0.0 and the Xcode GM 1 + 2. I build on an iPhone X with 13.1 and Simulator iPhone 11 Pro with 13.0.

No matter what I do, no message will be displayed on Device or Simulator.

I have build an extension:

`
public extension SwiftMessages {

    static func show(message: String, for theme: Theme) {

        let view = MessageView.viewFromNib(layout:

[2019-09-17 11:54] wtmoose commented on #341
Is the demo app working for you?

[2019-09-17 12:01] wtmoose commented on #341
Never mind. I need to make a small change to support scenes.

[2019-09-17 14:01] wtmoose commented on #335
An update. The response from Apple is that it is no longer possible to cover the status bar. They've suggested a workaround that I will look into:

[2019-09-17 15:01] wtmoose commented on #335
Workaround is on the Swift 5.2 branch. It doesn't look as nice – the status bar visibly reappears when the message is dismissed – but it is the best that can be done.

[2019-09-17 15:02] wtmoose commented on #341
You can try the `swift5.2` branch. I'll release it officially soon.

[2019-09-17 15:23] wtmoose commented on #335
Update. I removed the workaround and added an explicit `prefersStatusBarHidden` option to `SwiftMessages.Config` (similar to the existing `preferredStatusBarStyle` option).

[2019-09-17 16:37] #332 closed

[2019-09-17 21:34] tchambers3 commented on #335
@wtmoose Gotcha. Thanks for looking into this!

[2019-09-19 10:04] blg-nb commented on #341
nice, thank you

[2019-09-19 10:04] #341 closed

[2019-09-19 14:48] wtmoose commented on #335
The `preferredStatusBarStyle` option is included in 7.0.1 release.

[2019-09-19 14:48] #335 closed

[2019-09-19 14:50] wtmoose commented on #336
As of the Xcode 11 GM, the safe area bug went away. So I removed the workaround (which wasn't working for me in some apps). If you need further help. please send me a demo app or a drawing of what you're trying to accomplish.

[2019-09-19 14:50] wtmoose commented on #341
Fixed in 7.0.1.

[2019-09-19 14:53] patmalt commented on #336
Sorry for not getting back to you. Our team decided the `.bottomCard` style was good enough for us. Therefore, we can go ahead a close this issue.

I really appreciate your support. Thanks!

[2019-09-19 14:53] #336 closed

[2019-09-20 05:21] rbarbish commented on #335
Can you please post a gif/short video of what it looks like after this change please?

[2019-09-20 17:07] ch-muhammad-adil opened #342 "Value of type 'UIWindow' has no member 'windowScene'; did you mean 'windowLevel'?"
I have upgraded my application's swift version from 4 to 5. Everything is working fine if i remove this library. Here are some errors which is being generated from SwiftMessages source files i am not sure what is the main reason as i have tried many ways around the internet like cleaning, installing again everything. I will really appreciate if you respond me as soon as possible because this app i

[2019-09-20 17:17] wtmoose commented on #342
What version of Xcode are you on?

[2019-09-20 17:31] ch-muhammad-adil commented on #342
I am using xCode Version 10.3

[2019-09-20 17:39] ch-muhammad-adil commented on #342
what xCode version is required to resolve this issue ?

[2019-09-20 18:00] wtmoose commented on #342
Xcode 11. You can downgrade SwiftMessages to 7.0.0 for Xcode 10

[2019-09-20 18:00] #342 closed

[2019-09-21 09:11] kerimovscreations opened #343 "Not compatible with Swift 5, iOS 13"
After updating SwiftMessages 7.0.1, Xcode fails with errors.
<img width="271" alt="Screen Shot 2019-09-21 at 11 10 10 AM" src="https://user-images.githubusercontent.com/10672530/65371095-67ebf980-dc60-11e9-80c6-de0027a2082d.png">

[2019-09-21 09:13] #343 closed

[2019-09-21 09:15] kerimovscreations commented on #343
My Xcode version was not up to date. After updating Xcode, things got correct

[2019-09-22 02:54] kosicki123 opened #344 "[iOS 13] It doesn't work with SceneDelegate"
Hey, thanks for this awesome library!

I've been using in all my projects for a while and as I've started migrating to iOS 13, it seems that SceneDelegate has some bug that interrupts the view from being presented in real devices. If I remove SceneDelegate and use AppDelegate, everything runs smoothly.

Any ideas about why that happen?

Thanks a lot! :)

[2019-09-22 10:12] timbms opened #345 "SwiftMessages 7.0.1 error"
With SwiftMessages 7.0.1 and Xcode 11 I see an error though the UIWindowScene is protected with an availability check:

[code]

[2019-09-22 11:29] Ezor commented on #339
Hello, I still have this EXC_BAD_ACCESS issue on iOS Simulator only

`@objc open class Messenger : NSObject {
    @objc open class func showStatusBarMessage(_ msg: String, sender: UIViewController, selector: Selector) {
        let status = MessageView.viewFromNib(layout: .messageView)
        //status.button?.isHidden = true
        status.backgroundView.backgroundColor = UIColor.white
        st

[2019-09-22 13:31] wtmoose commented on #344
Are you on 7.0.1?

[2019-09-22 13:49] wtmoose commented on #345
Well, `UIWindowScene` is declared in iOS 13 and this availability check should hide the API from lower iOS versions.

So it seems that that you’re (a) not on iOS 13 and (b) the `@availability` check isn’t hiding the API as it should. This is what people on Xcode 10 were seeing.

Could you please double check your Xcode version? Otherwise, it would help if you could describe your project setup as i

[2019-09-22 13:57] wtmoose commented on #339
@Ezor please make sure you’re on SwiftMessages 7.0.1, clean your project, and let me know what line of code is crashing.

A couple of unrelated tips:
1. On Github, use `  ````swift ` at the beginning of your code block to enable syntax highlighting (as you can see above – I edited your post).
2. You can eliminate most of the code in `showStatusBarMessage` by copying `MessageView.nib` into your pro

[2019-09-22 13:59] Ezor commented on #339
I just found the issue. My project was set to compile using Swift 4.2. I set to use Swift 5.0 (as SwiftMessages) and the problem is gone.

[2019-09-22 14:08] kosicki123 commented on #344
Yes! Tried to check out from the latest release and also from master. To reproduce, just create a new project using Xcode 11 and run on your iOS 13 real device and it should happen the same.

[2019-09-22 14:34] wtmoose commented on #344
SwiftMessages 7.0.1 supports `SceneManager`. Here is the sample project I used for testing:

[SceneManagerDemo.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/3639843/SceneManagerDemo.zip)

Please clean your workspace and make sure you're hitting line 411 in `Presenter.swift`. If it still doesn't work, I'll need to find out what you're doing with `SceneManager`. It could be that SwiftM

[2019-09-22 17:01] yunustek commented on #16
Hi Everybody, I solved the problem 👍
When you add the extension you can solve the problem:
The extension function solved when you open in any view controller. The code will open with the view controller prefersStatusBarHidden.
[code]

[2019-09-22 17:01] yunustek commented on #221
Hi Everybody, I solved the problem 👍
When you add the extension you can solve the problem:
The extension function solved when you open in any view controller. The code will open with the view controller prefersStatusBarHidden.

import SwiftMessages

extension WindowViewController {
	open override var prefersStatusBarHidden: Bool {
		return UIApplication.shared.topMostViewController()?.prefersStatu

[2019-09-22 18:19] timbms commented on #345
I have double checked. I still had an Xcode 10 that was interfering here. Sorry for the confusion.
And thanks for your fast response.

[2019-09-22 18:20] wtmoose commented on #345
Glad you got it fixed.

[2019-09-22 18:20] #345 closed

[2019-09-23 10:24] kosicki123 commented on #344
I really don't know what happened, but after try your sample, my project simple started working. I'm not sure if my environment was dirty or something. Also, I've removed my Storyboard in the info.plist in the SceneDelegate object. That's the only thing I did. Maybe that was the issue, since I'm using view code only.
Thank you so much for you effort in solving my issue, it really helped!

[2019-09-23 10:24] #344 closed

[2019-09-23 14:44] petrykDima opened #346 "iOS 13 issue"
It isn't showing on iOS 13. In iOS 12 code works great

`
let view = MessageView.viewFromNib(layout: .statusLine)
        view.configureTheme(.error)
        view.configureContent(title: "Warning", body: withStatus, iconText: "")
        (view.backgroundView as? CornerRoundingView)?.backgroundColor = UIColor.darkRedCustom
        SwiftMessages.show(view: view)
`

[2019-09-23 19:46] MiguelNegri opened #347 "Xcode 11 - SwiftMessagesSegue dismiss on contentview interaction"
After updating to Xcode 11 there seems to be a problem when calling a UIViewController using class that inherits SwiftMessagesSegue.

Setting dimMode.interactive = true will dismiss the controller with with any type of interaction.
Exemples: Taping the view, scrolling

Setting dimMode.interactive = false works fine, but forces the need of a button to dismiss

Sample
[SwiftMessagesInteractive.zip](

[2019-09-23 23:16] wtmoose commented on #346
Are you using a `SceneManager`? If so, you need to update to 7.0.1.

[2019-09-24 10:08] ZebedeeTR commented on #340
Thanks for additional info.

Best regards.

[2019-09-25 08:27] amaurydavid opened #348 "Crash in installMaskingView"
Hello :)

I've posted almost 1 year ago in #253 an issue where my app crashed due to autolayout issue.
At the time i've updated SwiftMessage to 6.0.2 and the crash is still there, but slightly differs from the old one.
With SwiftMessage 4.1.4:
[code]

With SwiftMessage 6.0.2:
[code]

Here is an example of the way I show a message:
[code]

Messages that seems to crash are presented in the`viewDidAp

[2019-09-25 19:06] soareseneves opened #349 "SwiftMessages for Android"
Hello,

This is the best Message Framework for iOS, I would love to see it android as well, on java or even kotlin! Do you have any plans to implement it? If not, can you suggest a look-like library in android?

Thanks!

[2019-09-25 19:47] wtmoose commented on #348
Any reason why you don’t go with 7.0.0?

[2019-09-25 21:36] amaurydavid commented on #348
Nah, I've seen that 7.0.1 needed Xcode 11 and I supposed it was also the case for the 7.0.0. I'll make the update if possible.

[2019-09-26 12:09] wtmoose commented on #349
No, no plan for that

[2019-09-26 12:09] #349 closed

[2019-09-26 13:57] wtmoose commented on #347
Thanks for attaching a sample app. However, I can't reproduce the problem you're describing. In the attached video, you can see me tap the red button then scroll the text view. Any suggestions how I can reproduce it?

/Users/tim/Downloads/RPReplay_Final1569505872.MP4

[2019-09-27 21:37] MiguelNegri commented on #347
Thanks for the reply
Went to reproduce the the problem and now is working fine
Probably some random bug after update in simulator.

Closing this issue

[2019-09-27 21:37] #347 closed

[2019-09-29 17:40] dr-coton commented on #346
I have the same problem.
version : 7.0.1

[2019-09-29 17:42] wtmoose commented on #346
@dr-coton does the demo app work for you?

[2019-09-29 17:43] wtmoose commented on #346
Be sure to clean your workspace before building if you’re upgrading to 7.0.1

[2019-09-29 18:43] dr-coton commented on #346
Oh.. Thanks..
This Issue fixed after "clean build"

[2019-09-29 20:24] wtmoose commented on #346
No reply from OP. Closing.

[2019-09-29 20:24] #346 closed

[2019-09-30 13:07] FIndustries commented on #335
I don't know if I'm wrong but the `prefersStatusBarHidden` option doesn't seem to have any effect on iOS 13.

[2019-09-30 13:09] wtmoose commented on #335
@FIndustries It only has an effect when you’re displaying a message in its own window.

[2019-10-06 18:38] naissa12 opened #351 "Use of undeclared type 'UIWindowScene'"
When I try to build my Xcode application, I get the error `Use of undeclared type 'UIWindowScene'` on line 44 of WindowViewController.

I'm using Xcode V10.2 IOS V 10.2

Can someone please help?

[2019-10-06 19:40] wtmoose commented on #351
Upgrade to Xcode 11 or downgrade to SwiftMessages 7.0.0.

[2019-10-06 19:40] #351 closed

[2019-10-09 20:04] patmalt opened #352 "Accessibility for View Controllers Presented Via SwiftMessagesSegue"
`SwiftMessagesSegue`'s `messageView` is a `BaseView`, and since `BaseView` does not conform to `AccessibleMessage`, presented view controllers will not be accessible via Accessibility Inspector or Voice Over.

I implemented a subclass of `BaseView` that does conform to `AccessibleMessage`, and set it to the `messageView` property of `SwiftMessagesSegue`. This should work in most cases...

Expect w

[2019-10-09 20:52] wtmoose commented on #352
I’m not sure I’d use `AccessibleMessage` with view controllers at all due to their complexity. `AccessibleMessage` was meant to help improve voice over for simple views, such as reading the title + body out as a single unit. Was there a specific reason you wanted to use `AccessibleMessage`?

[2019-10-09 20:53] patmalt commented on #352
Yes, so we can use Voice Over on view controllers we present with `SwiftMessagesSegue`

[2019-10-09 20:55] wtmoose commented on #352
Hmm. I think ideally you’d get the view controller’s default voice over behavior. I’ll need to look into it.

[2019-10-09 20:58] patmalt commented on #352
I do not believe this to be true

[2019-10-09 22:00] embassem opened #353 "changing the hight of presented view"
I'd like to change the height when navigating.
I'm presenting navigation Controller with VC1  as root  with  as a bottom Message with the height of 350
when some action in VC1 happened it will push VC2 witch should  change the height to 500
if push VC3  height is 400
if pop to VC1 height is 350 again
and so on
is this behavior applicable?

[2019-10-10 08:17] JanBrinker opened #354 "overrideUserInterfaceStyle ignored when using SwiftMessages.show(config:, view:) with presentationContext = .window"
So I guess we're all currently in the phase of stumbling all over weird kinks of iOS 13.
The app I'm working on right now is not dark mode ready, so we overrode the user interface style in our app delegate:

    if #available(iOS 13.0, *) {
        window?.overrideUserInterfaceStyle = .light
    }

This does the trick, however at one place we use SwiftMessages like this:

    private func openAmou

[2019-10-10 10:50] dtashkandi commented on #352
@patmalt can you please share your subclass of BaseView?

[2019-10-10 13:06] wtmoose commented on #353
SwiftMessages isn’t going to automatically perform animated height changes for you, but you should be able to do your own animations. Navigation controllers don’t naturally size to fit the content of their child view controllers. So you’ll have to explicitly set and animate the `UINavigationController`‘s height.0

[2019-10-14 12:57] dtashkandi commented on #352
@patmalt thanks!

[2019-10-14 13:59] wtmoose commented on #352
@patmalt @dtashkandi I pushed a fix for this to the head of `master` if you want to try it out and let me know.

Previously, if a view that didn't adopt `AccessibleMessage` was ignored by Voice Over. With meh fix, these views are not ignored by Voice Over and are responsible for their own accessibility. I think this is the ideal behavior for view controllers. I don't recommend putting view control

[2019-10-14 14:56] patmalt commented on #352
This fix worked for me! Thanks

[2019-10-14 14:57] wtmoose commented on #352
Great. Will close when I release the change.

[2019-10-16 00:18] MaoDaAmargura commented on #348
I have a similar issue in 7.0.0.

`Fatal Exception: NSGenericException
0  CoreFoundation                 0x1aa285c30 __exceptionPreprocess
1  libobjc.A.dylib                0x1a9fa00c8 objc_exception_throw
2  Foundation                     0x1aa55eb8c -[NSLayoutConstraint isActive]
3  MyApp                          0x105841d2c installMaskingView #1 (containerView:) in Presenter.install() (<compile

[2019-10-16 08:48] danielsaidi opened #355 "CardView doesn't center pure textural content"
We use `CardView.xib` to display a pure text message, without an icon, title or button. We set the body label's text alignment to `center`, since we want the text centered in the card.

The problem is that the content is only centered when the text is long enough to wrap over two lines. We can fix this by opening `CardView.xib` and set `Alignment` to `Fill` for the vertical, innermost stack view.

[2019-10-16 22:00] wtmoose commented on #348
Ugh...18% of users is the worst kind of crash since my chance of reproducing it is very slim :(

Any chance that they're jailbroken? Or any other commonalities? I've had crashes with jailbroken users in the past.

[2019-10-16 22:08] wtmoose commented on #355
The nibs are intended to supply basic form factors only. Supporting all of the permutations of form factor and content wouldn't be practical IMO. The nibs are provided so you can copy them into your project and easily modify them to suit your specific needs.

In any case, I'm fine with changing the alignment to `Fill`. Did you foresee an issue with that?

[2019-10-17 09:07] amaurydavid commented on #348
Here are some additional infos from Crashlytics for this crash:
100% of crashes are on iPhone
68% on iOS 13, 29% on iOS 12.
0% in background
0% jailbroken

While the audience of the app is:
80% on iPhone, 20% on iPad
57% on iOS 13, 34% on iOS 12

It looks it only crashes on iPhone, and has a bit more probability to happen using iOS 13.

[2019-10-17 11:47] danielsaidi commented on #355
Hi @wtmoose !

Yeah, you are right - the docs emphazise that you should copy the xibs and use them as templates. However, I found it strange (and a little wrong hehe) that the text is left-aligned if it's short, but centered if it's longer and spans over several lines.

If `fill` solves the problem, that'd be great. I haven't tried the combo icon + text + fill + button, so I'm not sure if it cause

[2019-10-17 12:05] wtmoose commented on #348
My best guess is `UITabBar` does some weird internal stuff that leads to this. Do you need to install the message into the tab bar? The only reason I know if is if you’re trying to slide up from behind the tab bar. If you don’t need that, then I’d think you’d use `config.presentationContext = .window(...)`.

[2019-10-17 15:49] danipralea opened #357 "errors on Xcode 10.3"
hey guys. you seem to be too far ahead of time 🙂
I currently get a few errors, while still being on Xcode 10.3:
![Screenshot 2019-10-17 18 48 19](https://user-images.githubusercontent.com/768893/67025436-b335e280-f10e-11e9-96ba-714ebbe2e78f.png)
in `WindowViewController.swift`
![Screenshot 2019-10-17 18 48 44](https://user-images.githubusercontent.com/768893/67025463-bfba3b00-f10e-11e9-894a-33f6ed

[2019-10-17 16:01] danipralea commented on #357
thanks!

[2019-10-17 16:05] #357 closed

[2019-10-19 17:58] #353 closed

[2019-10-20 06:49] ricsantos commented on #324
Looks like this was fixed in 0b8e7b4

[2019-10-20 15:04] #324 closed

[2019-10-21 15:09] amaurydavid commented on #348
Ah my bad, I made a misstake in my original post.
The SwiftMessage view is presented from the TabbarController, true, but the tabbarController is not the parent, the parent is one UINavigationController used in the tabBarController.
This way the SwiftMessage's view is correctly above the tabBar and doesn't overlap it.

[2019-10-21 16:21] wtmoose commented on #348
Can you use `config.presentationContext = .window(...)`?

[2019-10-23 07:57] D2Jgs opened #358 "Dynamic table view is not working with Segue"
I created a dynamic table view using the example of the bottom message segue you provided, but it does not work.

The "override func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell " never gets called.

Is it not supposed to work with dynamic table views?

[2019-10-23 08:29] D2Jgs commented on #358
I found the solution for the problem in one of the closed issues.

it was giving the background view a height.

[2019-10-23 09:39] D2Jgs commented on #358
How can I add a keyboardTrackingView in such a scenario?

I am using a search bar in the bottom message viewcontroller.

[2019-10-23 14:35] wtmoose commented on #358
You can an assign the `keyboardTrackingView` property on the segue to get basic keyboard avoidance.

[2019-10-24 06:55] VladislavHERZ opened #359 "RetainCycle when select case "case viewController(_: UIViewController)""
Select "case viewController(_: UIViewController)",  and set duration == .forever. When dismiss or pop vc, we get retain cycle.

[2019-10-24 07:59] D2Jgs commented on #358
Could you please help me figure out where and how to access that property.

Below is code for the bottom message segue :-

class SwiftMessagesBottomSegue: SwiftMessagesSegue {
    override public  init(identifier: String?, source: UIViewController, destination: UIViewController) {
        super.init(identifier: identifier, source: source, destination: destination)
        messageView.backgroundHei

[2019-10-24 11:42] wtmoose commented on #359
If you say `.forever`, it is up to you to call `hide at some point. Are you expecting it to auto-detect when you’re finished with the view and auto-hide?

[2019-10-24 11:46] wtmoose commented on #358
[code]

[2019-10-24 11:47] wtmoose commented on #358
Please try to use proper Markdown format for your code. I edited your post to make it readable.

[2019-10-24 12:32] VladislavHERZ commented on #359
Yes, when will be destroy vc, need to destroy view(Alert), this process should be automatically. Alert don't should keep vc.

[2019-10-24 13:29] wtmoose commented on #359
I'll think about it. in the meantime, you can call `hide` in your view controller's disappearance method.

[2019-10-24 13:49] wtmoose commented on #359
Assuming I make this a weak reference, SwiftMessages still needs to update it's internal bookkeeping in order to present the next message in the queue via some kind of auto-dismiss based on the VC being deallocated. How would you propose that SwiftMessages detects when your view controller is deallocated?

[2019-10-25 07:14] woohyuknrg opened #360 "iOS13.1.3 compatibility issue"
when message show on my iPad Pro(11-inch), the whole UI doesn't respond to touch event; but it's OK on iOS13.1 simulator. The code below:

var config = SwiftMessages.defaultConfig
config.presentationContext = .window(windowLevel: .normal)
config.preferredStatusBarStyle = .lightContent
config.duration = .seconds(seconds: 3)

SwiftMessages.show(config: config)

[2019-10-25 13:40] pateljay43 opened #361 "[name conflict] SwiftUI has 'Identifiable' protocol now"
Check the Apple's Identifiable protocol: https://developer.apple.com/documentation/swift/identifiable

[2019-10-25 13:47] wtmoose commented on #361
I'm aware. Are you having a specific problem?

[2019-10-25 13:48] pateljay43 commented on #361
I was about to start using your library but this is something I have to test and play with to find out is this is a blocker issue or not.

[2019-10-25 14:09] wtmoose commented on #360
I wasn't able to reproduce this on my iPhone running 13.1 using the Explore section of the Demo app. Does the demo app not work for you?

Not much I can do without repro steps. If you can, send me a small sample app that doesn't work.

[2019-10-25 14:55] woohyuknrg commented on #360
I run the SwiftMessages demo, has the same issue.
I debug the source code, something wrong in PassthroughWindow:
`override func hitTest(_ point: CGPoint, with event: UIEvent?) -> UIView? {
        let view = super.hitTest(point, with: event)
        return view == self ? nil : view
    }`

in iOS13.1.3 iPad Pro device, when message show, touch other place, it return view;
but in iOS 13.1 simulator

[2019-10-25 15:52] woohyuknrg commented on #360
You can reproduce on iPad Pro (11-inch) 13.1 simulator, or iPad Pro (12.9-inch) (3rd generation) 13.1 simulator.
Works well on iPad Pro (9.7-inch) 13.1 or below, weird

[2019-10-25 16:06] wtmoose commented on #360
Didn't you initially say it was OK in simulator but broken on device? Unfortunately, my iPad Pro is already on 13.2.

[2019-10-25 16:28] woohyuknrg commented on #360
Before i only tested on 9.7 inch ipad pro simulator, it's OK on it. Now i test on all ipad pro simulator. OK on 9.7 and 10.5, have problem on 11 and 12.9. You can use 11 simulator to reproduce. Thanks

[2019-10-27 10:24] VladislavHERZ commented on #359
Try this, but this code will be work only with vc.
[code]

Or
[code]

But you will need to cast to your type class use "as?".

[2019-10-27 17:17] wtmoose commented on #359
The question was how would you propose detecting when the view controller is deallocated (not how to make a weak reference)? As I said, SwiftMessages needs to update its internal bookkeeping when the VC is deallocated in order to show the next message.

[2019-10-27 21:45] wtmoose commented on #360
I'm on Xcode 13.2 beta, but I can't reproduce on iPad Pro 11 Simulator. Am I doing something wrong in the attached video?

[iPad Pro 11 inch simulator demo.mp4.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/3776460/iPad.Pro.11.inch.simulator.demo.mp4.zip)

[2019-10-27 23:48] wtmoose commented on #355
I put a fix for this on the head of `master` if you want to try it. Will release soon.

[2019-10-27 23:50] wtmoose commented on #354
I added `SwiftMessages.Config.overrideUserInterfaceStyle` on the head of `master` if you want to give it a try.

[2019-10-28 01:32] woohyuknrg commented on #360
Layout select Card, when message show, try to scroll the view below message view

[2019-10-28 02:57] wtmoose commented on #360
Works for me.

[iPad Pro 11 inch demo 2.mp4.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/3776930/iPad.Pro.11.inch.demo.2.mp4.zip)

[2019-10-28 03:00] woohyuknrg commented on #360
presentationContext set to normal level

[2019-10-28 06:41] wtmoose commented on #360
OK my bad. Looks like iOS has started inserting its own views into the window's hierarchy.

Fix is on the head of `master` branch. I'll release soon.

[2019-10-28 07:06] woohyuknrg commented on #360
Thank you very much

[2019-10-28 16:47] pateljay43 commented on #361
I don't use SwiftUI in my project. hence I cannot confirm this name conflict caused an issue or not. But in either case, I think there should be a way to use proper `Identifiable` protocol by prefixing with module name directly.

Hence I will close this issue.

[2019-10-28 16:48] wtmoose commented on #361
Yes, I agree this ticket should be closed if there's not a concrete issue.

[2019-10-28 16:48] #361 closed

[2019-10-29 04:08] D2Jgs commented on #358
There is no such property as keyboardTrackingView in SwiftMessagesSegue. It shows the error
"Use of unresolved identifier 'keyboardTrackingView'"

[2019-10-29 04:09] D2Jgs commented on #358
Is it only available for swift 5?

If that is the case then it is fine because I am working on Swift 4.2.

[2019-10-29 12:23] wtmoose commented on #358
It was added in SwiftMessages 7.0.0, which is Swift 5. Sorry.

[2019-10-29 12:23] #358 closed

[2019-10-30 04:17] D2Jgs commented on #358
Ok. No problem. Thanks anyways

[2019-10-31 11:02] amaurydavid commented on #348
Unfortunately using a .window() context will make the message overlap the UITabBar which we don't want.
The message should be displayed above the UITabBar.

[2019-11-03 07:22] danielsaidi commented on #355
Sorry for the slow reply, we’ve been busy at work. Great, I’ll try it and see if it works :)

[2019-11-04 17:34] saormart opened #362 "Swift Package Manager installation option"
Is it possible to make it compatible with Swift Package Manager ?
Thanks!

[2019-11-04 17:45] wtmoose commented on #362
I don’t think so. My understanding is that resource bundles aren’t supported yet.

[2019-11-11 01:31] woohyuknrg commented on #360
Hi, when does next version release?

[2019-11-11 01:56] wtmoose commented on #360
As soon as I get some free time

[2019-11-16 09:37] seniorAyman opened #364 "Assets.car"
RunTimeThemeRefForBundleIdentifierAndName() couldn't find Assets.car in bundle with identifier: 'org.cocoapods.SwiftMessages'
I am getting this error when using this code with Xcode 11.1 and swift 5 and iOS 12

let messageView: MessageView = MessageView.viewFromNib(layout: .cardView)
messageView.configureTheme(.error)
messageView.titleLabel?.text = "test"
messageView.bodyLabel?.text = "body mddcdc

[2019-11-16 14:03] wtmoose commented on #364
Got a stack trace? SwiftMessages doesn’t use asset catalogs due to occasional crash reports, so I don’t know how this error would occur.

[2019-11-16 15:02] seniorAyman commented on #364
thread #1, queue = 'com.apple.main-thread', stop reason = step over
  * frame #0: 0x0000000103e1d1cd testingpods`notificationsViewController.viewDidLoad(self=0x00007f8454f5c6c0) at notificationsViewController.swift:57:26
    frame #1: 0x0000000103e1ddbb testingpods`@objc notificationsViewController.viewDidLoad() at <compiler-generated>:0
    frame #2: 0x00007fff46f03d96 UIKitCore`-[UIViewControlle

[2019-11-17 00:57] #330 closed

[2019-11-17 18:46] seniorAyman commented on #364
it was a bug in Xcode
I just update it and now working fine
regards

[2019-11-17 18:46] #364 closed

[2019-11-20 15:19] foxware00 opened #365 "Control animation speed"
Is there a simple way to control the animation speed. I can extend the Animator and copy it over and change the value, but in doing so I lose the `Presenter` logic which looks for `.bottom`. Now I need to copy over vast quantities of code just to make the hide animation the same length as the show.

Is there a simple way to a simple change the animation duration?

[2019-11-20 16:42] wtmoose commented on #365
I need to introduce a protocol so that any animator can prefer to be installed under navigation and tab bars.

[2019-11-20 16:50] foxware00 commented on #365
Is there a simple way to surface show/hide animation speed similar to `pauseBetweenMessages`

[2019-11-20 17:00] wtmoose commented on #365
You can set the hide and show durations on `TopBottomAnimation`, but you’d have to use `.custom` presentation style and, as you said, you’d lose the `Presenter` logic.

The only current workaround I can think of is to use `.custom` as described above and use `presentationStyle = .view`, where you supply a container view that duplicates where `Presenter` is installing the `MaskingView` for `present

[2019-11-20 17:04] foxware00 commented on #365
I've tried both of these, but I share the message across multiple view controllers so the animation replays or doesn't show at all each time I change tab. When I set the view controller everything works perfectly except the animations are too short.

[2019-11-20 17:20] wtmoose commented on #365
Then I don’t have a workaround for you. My intention is to add the protocol, which will solve your problem, as soon as I can get to it.

[2019-11-21 09:41] foxware00 commented on #365
Okay, thanks @wtmoose I look forward to it. In the meantime, I've forked the repo and made `TopBottomAnimation.swift` `open` instead of public and modified the `install()` function inside `Presenter.swift`

[code]

[2019-11-21 15:14] wtmoose commented on #365
What’s the purpose of making `TopBottomAnimation` `open`? I’m not necessarily opposed, but for this class, my thought was it makes more sense to add configuration options as new use cases come up.

[2019-11-21 16:25] foxware00 commented on #365
Because the classes internally check whether the custom class is `as? TopBottomAnimation` and cast to `.top` or `.bottom` So when using `.viewController()` I wasn't getting the same behavior with `.view`. Given I just wanted to override and change the hideDuration this seemed like the simplest solution to stop-gap an official one.

[2019-11-27 07:02] cwestMobile commented on #74
I am trying to set the view.background color when showing a message and it isn't changing the background color. Can you confirm this still works today w/ Swift 5?

[2019-11-27 15:38] wtmoose commented on #74
@cwestMobile see my comment above.

[2019-11-27 18:30] cwestMobile commented on #74
@wtmoose Can you look at the code below and see if I'm setting that property in the correct place?

let view = MessageView.viewFromNib(layout: .cardView)
view.configureTheme(.warning)
view.backgroundColor = UIColor.blue
view.configureDropShadow()
let iconText = ["🤔", "😳", "🙄", "😶"].randomElement()!
view.configureContent(title: "Warning", body: "Consider yourself warned.", iconText: iconText)
view.

[2019-11-27 19:43] wtmoose commented on #74
You are not. It doesn’t seem like you read my comment above.

[2019-12-02 17:39] klaas opened #366 "iOS 13 Multiple Window support?"
I couldn't find anything regarding support for multiple windows in iOS 13 (see https://developer.apple.com/videos/play/wwdc2019/212/), am I right?

Would be great to see another `SwiftMessages.PresentationContext` case to specify the scene window. In the meantime I'll try to hack something or use the `viewController` context.

BTW: Really loving Swift Message! Great work!

[2019-12-02 17:47] wtmoose commented on #366
That is a good suggestion. A potentially workaround is to have `SwiftMessages.PresentationContext` target a view or view controller in the desired scene.

Is this what you had in mind?

[code]

[2019-12-02 18:02] klaas commented on #366
This would be great! 😃

[2019-12-05 10:48] ullstrm commented on #360
Hi @wtmoose ! We have this problem aswell for our iPads! There seems to be a commit that should fix this on the master-branch. Is it ready for production? Will there be a release for this soon or are there other issues that needs fixing?

[2019-12-06 01:59] MaoDaAmargura commented on #348
I have some more information to add to this issue, maybe it'll help others.

• 7.0.1 does not prevent the crashes.

• I finally managed to reproduce the issue in my debugger. What appears to be happening to me is:
1) View Controller begins a UIView.animate() { pushViewController(animated:false) custom transition to a TabBarController subclass, that will eventually contain the SwiftMessage.
2) A (p

[2019-12-06 16:05] wtmoose commented on #348
Thanks for the update. Just be clarify one thing:

When you use this presentation context, the message is displayed in the view you specify. It doesn’t have any reason to try and find a tab bar.

[2019-12-06 18:19] MaoDaAmargura commented on #348
Okay, if it doesn't try to find a tab bar through .view, then it would have to be one of my other .viewController() presentation contexts (we use SwiftMessage a lot) that crashed... and I can't explain how it's finding a tabBar reference that's not associated with the viewController that is used as the presentationContext. Unless the fact that its during that animation transition is the problem, b

[2019-12-08 20:03] MaoDaAmargura commented on #348
I am still seeing some of these crashes. I'm going to look for other places that SwiftMessages might be created by viewControllers during a custom animated transition.

[2019-12-10 10:47] natalia-osa commented on #235
I am facing the same issue. I have the framework installed via Cocoapods. The warning is appearing exactly when I execute the 2nd line of the following code. If I comment it out, the error in the console disappears.

    let status2 = MessageView.viewFromNib(layout: .statusLine)
    status2.configureTheme(.info) // this line causes the error to appear in the console
    status2.configureContent(bo

[2019-12-12 16:13] BinaryDennis commented on #360
I would really appreciate it if this issue could be solved soon.

[2019-12-12 17:38] wtmoose commented on #366
@klaas can you try this out on the head of `master` and let me know if it works for you?

[2019-12-12 17:50] wtmoose commented on #365
I fixed this on the head of `master`. It was really just a bug in `Presenter.swift`. Can you try it out and let me know if it works for you?

I made `showDuration` and `hideDuration` writable, so you can do something like this without subclassing:

[code]

[2019-12-12 19:59] klaas commented on #366
@wtmoose Just gave it a brief try. The API is fine 😃, but the message view will be centered between my two scenes:

<img width="1262" alt="Untitled" src="https://user-images.githubusercontent.com/320967/70744404-e7e6a480-1d21-11ea-90aa-3cf196da197f.png">

I guess it might relate to having the window as big a the screen?

`PassthroughWindow(hitTestView: view, frame: UIScreen.main.bounds)`

I can ta

[2019-12-12 21:53] wtmoose commented on #366
Yeah, I’m just telling the window to become visible. I haven’t done much with multi-window, so if you’ve got any pointers for how the window should be installed, I’ll take a look.

[2019-12-13 20:07] klaas commented on #366
Using the `bounds` of the first window of the scene, solves the layout issues:

	var windowBounds: CGRect

	switch config.presentationContext {
	case let .windowScene(scene, _):
		windowBounds = scene.windows.first!.bounds
	default:
		windowBounds = UIScreen.main.bounds
	}

But essentially every app can now have multiple "main" windows. Each scene has it's own window and would be in the need of an

[2019-12-14 15:46] wtmoose commented on #366
How about when the bounds change, such as if you rotate or resize the split screen?

Independent queues should be a problem. You can use as many instances of SwiftMessages as you want:

[code]

[2019-12-16 10:54] ravindrashetty opened #367 "Crash: Fatal Exception: NSGenericException"
Seeing this crash on recent releases. Details Below.

**Crash Description:**

`Unable to activate constraint with anchors <NSLayoutYAxisAnchor:0x1049d7540 "SwiftMessages.MaskingView:0x10cd1ffe0.bottom"> and <NSLayoutYAxisAnchor:0x1049d2bf0 "UITabBar:0x10a4e3a00.top"> because they have no common ancestor. Does the constraint or its anchors reference items in different view hierarchies? That's illeg

[2019-12-16 15:28] wtmoose commented on #367
This is a duplicate of #348.

So far nobody has provided reproduction steps, so I there's not much I can do. If you can help me reproduce, I'll take a look.

[2019-12-16 15:28] #367 closed

[2019-12-20 09:52] jjy4880 opened #368 "Help me, swiftMessage notification view overlaps the status bar"
![image](https://user-images.githubusercontent.com/28885318/71246238-9e1d4000-2359-11ea-87de-ec5208c79d18.png)

To make it appear above the status bar, you need to edit it.

[2019-12-20 13:32] DhavalBhimani commented on #354
@wtmoose any update on this? i am not able to show dark mode message UI using SwiftMessages.show(config: config, view: messageView).
Please let me know.

i am not seeing SwiftMessages.Config.overrideUserInterfaceStyle in library now.

[2019-12-20 14:27] wtmoose commented on #354
The ball is in your court. As I said, the feature is on the head of `master`. Try entering `overrideUserInterfaceStyle` in the search box.

[2019-12-20 14:31] wtmoose commented on #368
From `SwiftMessages.swift`:

[code]

[2019-12-20 14:31] #368 closed

[2019-12-20 16:09] DhavalBhimani commented on #354
Thanks, i had to install master branch pod.
pod 'SwiftMessages',:git => 'https://github.com/SwiftKickMobile/SwiftMessages.git', :branch => 'master'

[2019-12-28 14:19] codaman commented on #41
You have to add "@objc" start of method

@objc
    open class func showStatusBarMessage

[2019-12-30 22:31] wtmoose commented on #366
Should work correctly now if you'd like to check out the head of `master`.

[2019-12-31 01:04] nizenyang opened #370 "The drop - down is out of position"
![image](https://user-images.githubusercontent.com/8390188/71606503-4a59f480-2bac-11ea-895d-ebb144fe927d.png)
Hi, how come when my view pops up from the top, it's at -5 instead of 0
![image](https://user-images.githubusercontent.com/8390188/71606526-855c2800-2bac-11ea-889b-a4c4168a820d.png)

[2019-12-31 01:13] wtmoose commented on #370
Because it is a spring animation and offsetting the Y position by 5 prevents a gap between the edge of the view and the top of the screen being visible during the bounce. There are ways to turn that off, but it is probably simpler to pad the top of your view by 5pt.

[2019-12-31 01:34] nizenyang commented on #370
I can understand that there will be offsets for the animation effect, but why doesn't the position return to the original normal position at the end of the animation? I think the end user might want to return to the original position at the end of the animation

[2019-12-31 03:40] wtmoose commented on #370
b > a > 0

![IMG_0098](https://user-images.githubusercontent.com/2529176/71609215-662dae00-2b4c-11ea-8721-457439a6b8d8.jpeg)

Why do you think the end user cares if there is unseen top padding on your view?

[2019-12-31 03:48] nizenyang commented on #370
I see what you mean. Thank you for answering my questions

[2019-12-31 03:48] #370 closed

[2020-01-03 19:30] ashishonmobile opened #371 "Text is wrapping when still we have sufficient space to display full text."
<img width="280" alt="Screenshot 2020-01-04 00 58 32" src="https://user-images.githubusercontent.com/8134811/71744521-897a9500-2e8d-11ea-9c99-93f5094f76b1.png">

Is there anyone who has an idea why the text is getting wrapped.

[2020-01-03 19:42] wtmoose commented on #371
Looks fine in the Demo app running on the smallest possible simulator (iPhone SE). So you need to give more info.

![Simulator Screen Shot - iPhone SE - 2020-01-03 at 13 40 26](https://user-images.githubusercontent.com/2529176/71745022-9e740b80-2e2e-11ea-9458-641a78fdb108.png)

[2020-01-03 20:13] ashishonmobile commented on #371
@wtmoose Thanks for your reply I also too run the demo app. and It is working fine.

But I do not know why it is not working in my application.

Regards,
Ashish

[2020-01-03 22:43] wtmoose commented on #371
OK. Reopen if you're able to provide any more useful info.

[2020-01-03 22:43] #371 closed

[2020-01-06 07:22] kanak14 opened #372 "SwiftMessage is not working iOS 13.3"
Hi Dear,

SwiftMessage is working on iOS 12 and below , Simulator.
After update my phone in 13.2 then app will be crashed, Please le me explain how to resolved this issue.

Find  the snap-short.

![Screenshot 2020-01-06 at 12 43 09 PM (2)](https://user-images.githubusercontent.com/41286397/71802363-7fba8280-3083-11ea-88fb-efe0c4ee1268.png)

[2020-01-06 17:33] wtmoose commented on #372
Dunno. It isn't crashing for anyone else. What is error?

Try cleaning your derived data.

[2020-01-07 15:12] grifas commented on #221
Hi, I have the same issue. I used what you adviced:

That works fine but now my issue is that it's hard to tap on it to trigger the `buttonTapHandler`.

Any solution ?

[2020-01-10 16:50] BrunoDonini commented on #372
Hi,

I had the same problem.
I solved it by forcing the execute of the configureDropShadow() method in the main thread.

From this:
`
func showSuccess(_ message: String?, title: String? = nil) {
        let success = MessageView.viewFromNib(layout: .cardView)
        success.configureTheme(.success)
        success.configureDropShadow() // <- cause of the problem
        success.configureContent(t

[2020-01-10 16:56] wtmoose commented on #372
@BrunoDonini how's you get off the main queue? You've got to call SwiftMessages on the main queue or use `show(viewProvider:)`

[2020-01-10 17:03] BrunoDonini commented on #372
In my case, the `showSuccess` method is called in an async completion block

[2020-01-10 17:09] wtmoose commented on #372
@BrunoDonini OK I didn't read our post carefully. So you're correct – you shouldn't use UIKit APIs on a background queue, so wrapping the whole thing in `DispatchQueue.main.async` makes sense.

[2020-01-10 17:23] BrunoDonini commented on #372
Maybe the problem of Kanak is that the `configureDropShadow` method did not crash in iOS 12 if called in a background thread, instead in iOS 13 it crash

[2020-01-10 19:47] sbrioux opened #373 "SwiftMessage not covering status bar in iOS 13"
So I am noticing currently in my app, the SwiftMessage isn't covering the status bar fully on iOS 13.  Also to note is that the app does have dark mode disabled using the plist configuration.

The issue is mostly noticeable on iOS devices with out the notch.  The screen shot is from an iPhone 8

iOS 13.3.1
![image](https://user-images.githubusercontent.com/4192331/72181585-ae07cd00-33b7-11ea-9daf-

[2020-01-10 20:24] wtmoose commented on #373
Dupe of #368

[2020-01-10 20:24] #373 closed

[2020-01-17 22:00] sleekuser opened #374 "Disable background tap to dismiss"
Is there a way to disable dismiss behavior on background tap while using SwiftMessagesSegue? Setting up `interactiveHide = false` only disables pan gesture. Thank you!!

[2020-01-17 22:02] wtmoose commented on #374
`dimMode = .gray(interactive: false)`

[2020-01-17 22:02] #374 closed

[2020-01-17 22:03] sleekuser commented on #374
@wtmoose Awesome!! Such a quick reply, thanks

[2020-01-30 18:14] #372 closed

[2020-02-01 01:17] sleekuser opened #375 "Is there any way to go full screen?"
I have a mini video player window as a popup using `SwiftMessagesSegue`, wondering if it can go full screen by a user interaction?

[2020-02-06 05:17] mesheilah opened #376 "support for SwiftUI"
I couldn't find any mentioned support for SwiftUI framework, will there be any future release that targets SwiftUI based project ?

[2020-02-06 12:51] wtmoose commented on #376
Dupe of #327

[2020-02-06 12:51] #376 closed

[2020-02-06 13:56] wtmoose commented on #375
No, that isn’t a thing. Sorry.

[2020-02-06 13:56] #375 closed

[2020-02-07 20:17] dasoga commented on #355
Hi @wtmoose i tried to center the body text (not using any other element) and it worked if I copy the framework manually, any plans to release this in cocoapods?

thanks!

[2020-02-09 18:36] infinigent-solutions opened #377 "Display only the body"
Here's my code:
[code]

This is how it looks like:
![SwiftMessages](https://user-images.githubusercontent.com/40767033/74107713-e528f400-4b98-11ea-8b9b-4d7c90d83e00.png)

Please help to make the text appear in full width

[2020-02-09 18:44] wtmoose commented on #377
Can you reproduce it in the demo app? I reproduced your configuration in the demo app and it looks fine. So I'd need more info from your end, such as a sample project that I can try.

![IMG_0658](https://user-images.githubusercontent.com/2529176/74107824-87b18a80-4b39-11ea-8616-2862e1fa96fb.PNG)

Also curious about this statement?

[code]

Isn't the normal way to do this?

[code]
[code]

[2020-02-12 04:24] infinigent-solutions commented on #377
@wtmoose The code in the demo works, however, can you please tell me where am I going wrong in my code as I'm using the latest pods for this

[2020-02-12 14:13] wtmoose commented on #377
Here's a sample project containing your code and the layout looks correct.

[SwiftMessagesTest.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/4192737/SwiftMessagesTest.zip)

You'll need to give me a way to reproduce your problem, preferably by attaching a sample project.

[2020-02-13 21:25] joohae-kim opened #378 "Build error on iOS 13 and SWIFTMESSAGES_APP_EXTENSIONS enabled case"
I got `'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.` error on Presenter:install()

[code]

[2020-02-13 21:27] wtmoose commented on #378
Thanks for bringing this up!

[2020-02-20 18:14] Tulakshana commented on #142
I stumbled upon this thread when looking for "safeAreaInsets crash jailbroken". I'm using safeAreaInsets.bottom in my code after checking for `#available(iOS 11.0, *)`. In my case also all the crashes are from jailbroken devices. I believe you could fake your operating system version in jailbroken devices (https://yalujailbreak.net/lowerinstall/). My theory is that the crash occurs in jailbroken d

[2020-02-20 18:17] wtmoose commented on #142
I don't support jailbroken phones.

[2020-02-25 13:43] willnix86 opened #379 "Extending MessageView / Custom Xib - customization doesn't seem to work"
Following the instructions in the docs, I created a copy of the 'Card View' xib, then removed the image/label etc, and changed it's height and width to 510, then added a Collection View as it's single element.

I wired up the outlets etc into a subclass of MessageView (and set up the CollectionView as needed) but when I run the code, all I get is a blank view the same height/width as the original

[2020-02-25 14:51] wtmoose commented on #379
Can you attach your nib?

[2020-02-25 14:59] willnix86 commented on #379
I actually think I've got it working - needed to add height/width constraints to the Corner rounding view.

It's now just breaking because it's failing to register my custom cv cell, but that's my issue not yours :-)

Closing the issue now!

[2020-02-25 14:59] #379 closed

[2020-03-02 15:13] nectar1 commented on #360
Up

[2020-03-08 06:49] mkjwa opened #380 "Can I get a signal when message view is hiding?"
Is it possible to get a signal for hiding a message view?

I need to get a signal after hiding message view. Message View is showing by setting duration.
I want to show popup after message view is hidden, but can't get a signal.

[2020-03-08 07:12] mkjwa commented on #380
I found a configuration. SwiftMessages is a very awful solution.

[code]

[2020-03-08 07:12] #380 closed

[2020-03-08 14:34] wtmoose commented on #380
Awful?

[2020-03-12 07:11] ryanzzff opened #381 "How to present view controller in SwiftMessages without storyboard?"
I found SwiftMessagesSegue example in the Demo, but it is using segue that seems can only be used with storyboard.
In my project, I'm using separate xib for each view controllers, how can I add the view controllers in the MessageView of SwiftMessages?

------

What am I trying to do is have a UINavigationViewController with dynamic height, depends on the height of the child view controller.

e.g.

[2020-03-12 12:16] wtmoose commented on #381
First, the segue can be used programmatically. Check the docs. Second, you don’t need to access the message view. By default, the message view sizes to fit the content. You can add height constraint on your navigation controller and adjust it as needed.

[2020-03-27 11:10] StackHelp opened #383 "Show content from safe area"
Right now I got the content like below using custom nib. From bottom it doesn't count for safe area space.
![Screenshot 2020-03-27 at 4 35 29 PM](https://user-images.githubusercontent.com/41230403/77750156-53dae780-7049-11ea-8c01-cd2c2b1ec9ff.png)

I want it to cover space from safe area lke below image
![Simulator Screen Shot - iPhone 11 - 2020-03-23 at 12 09 44](https://user-images.githubusercon

[2020-03-27 12:32] wtmoose commented on #383
Attach your nib file please

[2020-03-27 12:33] #381 closed

[2020-03-27 12:33] #377 closed

[2020-03-27 12:35] StackHelp commented on #383
Here it is https://we.tl/t-zQcBJGxEPK

[2020-03-27 12:40] StackHelp commented on #383
@wtmoose Hi I got it to work by changed bottom constraint to safe area instead it was attached with superview. Thanks for your time.

[2020-03-27 12:40] #383 closed

[2020-03-30 10:05] d4rkd3v1l commented on #360
Is there a timeline, when this will be released officially?

[2020-04-03 07:03] hemendraggohel opened #384 "Crash when i use SwiftMessages.defaultConfig"
Working fine with below code.
          let view = MessageView.viewFromNib(layout: .cardView)
            // Theme message elements with the warning style.
            view.configureTheme(.error)
            view.configureDropShadow()
            view.configureContent(title: "Error", body: "Title")
            view.button?.isHidden = true
            // Show the message.
            SwiftMessages.

[2020-04-03 12:54] wtmoose commented on #384
That seems unlikely. Whats is the stack trace?

[2020-04-06 01:49] VietNamBookingApp opened #385 "[Crash App When Click View]"
![image](https://user-images.githubusercontent.com/59195212/78516364-70aeb200-77e3-11ea-934a-36fd41b9e249.png)

![image](https://user-images.githubusercontent.com/59195212/78516482-e4e95580-77e3-11ea-8dfc-d2c54d59483f.png)

 Fatal error: 'try!' expression unexpectedly raised an error: SwiftMessages.SwiftMessagesError.cannotLoadViewFromNib(nibName: "TabView"): file

[2020-04-06 02:33] #385 closed

[2020-04-14 11:32] vivek4292 opened #386 "No code signing error"
I've added SwiftMessage manually to my project bundle. I'm able to run it on a simulator only. It's not letting install on real devices.
<img width="516" alt="Screenshot 2020-04-14 at 4 59 11 PM" src="https://user-images.githubusercontent.com/34335017/79220383-82422a80-7e71-11ea-860e-f15909968139.png">

Build log attached below
<img width="898" alt="Screenshot 2020-04-14 at 5 44 44 PM" src="https:

[2020-04-15 09:17] CainLuo opened #387 "Can you support swift package manager?"
Can you support swift package manager?

[2020-04-15 14:13] wtmoose commented on #387
Dupe of #330

Support for resources isn't coming until Swift 5.3.

https://forums.swift.org/t/se-0271-package-manager-resources/30730/74

[2020-04-15 14:13] #387 closed

[2020-04-16 11:32] vivek4292 opened #388 "Full width bottom card in iOS 13 (7.0.1 version)"
How can I use full width bottom card using 7.0.1 version.
Here is my code.

var config = SwiftMessages.defaultConfig
config.presentationStyle = .bottom
config.duration = .forever
config.dimMode = .none
config.interactiveHide = false
let view = MessageView.viewFromNib(layout: .cardView)
view.configureTheme(theme, iconStyle: .default)
SwiftMessages.show(config: config, view: view)

[2020-04-16 14:24] wtmoose commented on #388
What is the problem?

[2020-04-16 17:03] vivek4292 commented on #388
![2020-04-08](https://user-images.githubusercontent.com/34335017/79484627-9765b780-8031-11ea-973c-4c6e0ae8bb56.png)

This is how it's being displayed with your latest release. Before that it was like in below screenshot.
![IMG_0916](https://user-images.githubusercontent.com/34335017/79484900-04794d00-8032-11ea-9d7e-a2f0aa13e77e.PNG)

Did no changes in code at all. Just using your latest release an

[2020-04-16 17:28] wtmoose commented on #388
Gotcha. The design was changed for iPad because the card spanning the full width on iPad isn't a good design.

If you want a different design, copy `CardView.xib` into your project and modify it. What you'd want to do is remove the constraint overrides for regular size class on the `CornerRoundingView`.

[2020-04-22 14:03] spyrosskordos opened #389 "SwiftMessages.show not workingg in modal presentation"

[2020-04-22 14:05] wtmoose commented on #389
Please reopen if you can provide sufficient details

[2020-04-22 14:05] #389 closed

[2020-04-22 14:08] spyrosskordos opened #390 "SwiftMessages.show doesn't work when view controller is presented"
I want show my custom view with  SwiftMessages.show from app delegate but If the top view controller is modal it is shown in the previous which is not modal.

[2020-04-22 14:11] wtmoose commented on #390
See `presentationContext` configuration setting

[2020-04-22 14:11] #390 closed

[2020-04-22 21:29] MaoDaAmargura commented on #348
I've managed to reproduce this once on my device:

I have some view controllers that can both show a .bottom aligned SwiftMessage and push another view controller in viewDidAppear

In cases where both happen, and the pushed view controller has .hideBottomBarOnPush = true, sometimes there's a timing issue that causes this crash. I'm going to make these items mutually exclusive to prevent this issue

[2020-04-22 21:32] wtmoose commented on #348
@MaoDaAmargura thanks for sharing your findings!

[2020-04-24 12:39] Lokeshgupta25 opened #391 "Message View Width not adjust according to screenWidth on landscape mode?"
When i change our app mode from portrait to landscape mode swiftmessages width not adjust to full width of screen . How can i solve this?

i am using follwing code...

       var alertConfig = SwiftMessages.defaultConfig
        alertConfig.presentationStyle = .top
        alertConfig.prefersStatusBarHidden = true

        alertConfig.presentationContext = .window(windowLevel: UIWindow.Level.statu

[2020-04-24 13:26] wtmoose commented on #391
That isn't normal. I'd remove

[code]

It isn't needed.

[2020-04-24 13:32] Lokeshgupta25 commented on #391
alertView.configureBackgroundView(width:1000)
its working same after removing this also

[2020-04-24 13:37] wtmoose commented on #391
Can you reproduce it in the demo app?

[2020-04-24 13:40] Lokeshgupta25 commented on #391
ya sure

[2020-04-24 13:48] Lokeshgupta25 commented on #391
[demo.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/4529205/demo.zip)

Please follow the follwing step:
App launch on Portrait mode -> click on button for showing Alert -> Change App mode to Landscape ->  click on button for showing Alert

[2020-04-24 14:08] wtmoose commented on #391
It works for me. Your environment must be different. I'm using:

Xcode 11.4.1
iPhone 11 Pro simulator

![Rotate](https://user-images.githubusercontent.com/2529176/80221440-eb146a00-860a-11ea-8c9b-35c8f5e85ed6.gif)

[2020-04-24 14:22] Lokeshgupta25 commented on #391
No Please Switch app on landscape mode when portrait mode alert have dismiss.

[2020-04-24 14:53] wtmoose commented on #391
Oh, this is related to the new scene stuff in iOS 13. You need to use the head of the master branch. I have a backlog of fixes to release including the fix for this issue.

[2020-04-24 14:59] Lokeshgupta25 commented on #391
Can you elaborate it more how can I resolve this issue ASAP.
Thanks

[2020-04-24 15:00] wtmoose commented on #391
You need to use the head of the master branch.

[2020-04-24 15:09] Lokeshgupta25 commented on #391
have you fixed this issue or you are going to fix this issue?

[2020-05-02 17:40] MoizIrshad14 commented on #214
Works for me.

`config.dimMode = .gray(interactive: false)`

[2020-05-04 14:00] L1cardo opened #392 "multi window issue"
I have known that someone have mentioned the multi window issue here #366
I dont know if SwiftMessages supports multi window, but I seem to have some issues.

![image](https://user-images.githubusercontent.com/33802186/80973156-97e3b800-8e51-11ea-84ac-9b98eacfa6fc.png)

I found codes saying something about `windowScene` but what is weird is that these code never show up after I installed the Swift

[2020-05-04 14:35] L1cardo commented on #392
Is there a sample code to solve this?
Thanks

[2020-05-04 14:53] wtmoose commented on #392
Try the head of `master`. I resolved multi-window issues a while back but haven't released them.

[2020-05-04 15:17] L1cardo commented on #392
Works fine！！！ Thanks！

[2020-05-06 08:28] mojidabckuu commented on #384
@wtmoose happening happening to me. This line causing the crash
[code]
exception is
[code]

[2020-05-06 08:45] mojidabckuu commented on #384
Ok, figured out. In my case it was too big update jump and seems `statusBarOffset` is the legacy.

[2020-05-06 14:46] #384 closed

[2020-05-06 14:46] wtmoose commented on #392
Closing since this duplicates #366

[2020-05-06 14:46] #392 closed

[2020-05-21 20:19] sundaleek commented on #276
Hello @wtmoose . I hope you are stay safe during these time.
Is there a way to present without animation?

[2020-05-21 21:16] wtmoose commented on #276
@sundaleek would animating with zero duration work? If so, then yes you can do that. All of the animators have customizable duration. You'd instantiate the animator of your choice, configure the duration, and use `config.presentationStyle = .custom(animator: animator)`.

[2020-05-25 23:19] ebeneezer opened #393 "Cannot match several associated values at once, implicitly tupling the associated values and trying to match that instead"
The above warning is thrown by XCode 11.4 (Swift 5.2) though it compiles so far - will there be a fix for the pod?

[2020-05-26 00:02] wtmoose commented on #393
Fix is on the head of `master`

[2020-05-26 00:02] #393 closed

[2020-05-26 15:12] davbeck commented on #362
Looks like resources have been added to Swift 5.3 (not released yet).

Beyond that, having converted several projects to SPM, I can tell you that the biggest challenge converting from Cocoapods is handling subspaces. CP combines all subspecs into a single framework/module. SPM supports multiple products, but they each will have their own module.

[2020-05-26 15:38] wtmoose commented on #362
@davbeck that sounds promising. Thanks for the heads up!

[2020-06-09 06:36] MHamayun commented on #229
Alhamdulellah
Worked for me swift 4, Xcode Version 10.3 , pod 'SwiftMessages', '~> 5.0'

code is:
let view = MessageView.viewFromNib(layout: .statusLine)
        view.configureTheme(.error)
        view.configureContent(body: "No Internet Connection")
        view.configureDropShadow()
        var config = SwiftMessages.Config()
        config.duration = .seconds(seconds: 5)
        SwiftMessages.

[2020-06-11 09:44] RSickenberg opened #394 "Small memory leak"
Hello, I found a small memory leak. I let you the Instrument screenshot.

I'm on the latest 7.0.1 version.
Regards

![image](https://user-images.githubusercontent.com/16922548/84370595-c125ff80-abd8-11ea-8d6f-fad43c4e955b.png)

[2020-06-15 15:20] knothed commented on #387
@CainLuo See here for a working solution: https://github.com/SwiftKickMobile/SwiftMessages/pull/395

[2020-06-15 15:22] knothed commented on #330
Have a look at [this](https://github.com/SwiftKickMobile/SwiftMessages/pull/395) – it is a temporary solution until Swift 5.3 comes out.

[2020-06-16 19:12] #388 closed

[2020-06-17 09:51] knothed commented on #362
Have a look at [this](https://github.com/SwiftKickMobile/SwiftMessages/pull/395) – it is a temporary solution until Swift 5.3 comes out.

[2020-06-20 17:38] gharibi commented on #365
hey @wtmoose. I just checked this with v7.0.1 and I get the below error:

_Cannot assign to property: 'showDuration' is a get-only property_

Are you sure that your changes are merged in master branch? 🤔

[2020-06-20 19:50] wtmoose commented on #365
@gharibi 7.0.1 is not head of `master`

[2020-06-21 11:12] gharibi commented on #365
@wtmoose I checked the `master` branch and your solution seem to work fine. When are you planning to include these changes in a release?

[2020-06-23 12:15] kientux commented on #56
This is an old issue, but I'm facing the same problem for class name. My app also has some classes named `BaseView`, `MessageView`, `Animator`... I can directly use my app namespace (`MyApp.BaseView`...) to prevent conflict with SwiftMessages, but these classes are used many more often than SwiftMessages so that is inconvinience. The problem is, `SwiftMessages` is the framework module name AND als

[2020-06-23 13:31] wtmoose commented on #56
This is a Swift bug, which is why I haven't made the breaking changes required to fix it:

https://bugs.swift.org/browse/SR-898

However, it hasn't been fixed in 4 years, so I've been thinking about changing the `SwiftMessages` type to `Messenger` or something like that. Still on the fence because this affects very few people and the change would break everyone.

[2020-06-26 07:53] bukerapp commented on #355
Same question as above, thank you.

[2020-06-29 12:52] undeaDD opened #396 "TabView.xib - Deployment Warning"
**Xcode Warning:**
Pods/SwiftMessages/SwiftMessages/Resources/TabView.xib:global: warning: This file is set to build for a version older than the deployment target. Functionality may be limited. [9]

**Current Setup:**
Xcode: 11.5
Deployment target: iOS 13

[2020-07-03 10:20] chetan-duke commented on #156
Hey @mgj , Can you please put the code how can display multiple messages in queue?

[2020-07-06 04:57] kientux commented on #355
Same issue, still waiting for new release which fixes this. Until then, if you don't want to copy and edit the xib, just use this (a little ugly) fix:

[code]

[2020-07-08 00:01] willnix86 opened #397 "[Testing]: Testing Breaks with 'UIView.init(coder:) must be used from main thread only'"
Although I can build my app just fine, when trying to run XCTests, it fails with the following error inside the BaseView.swift file:

'Thread 3: UIView.init(coder:) must be used from main thread only'

[2020-07-08 16:24] wtmoose commented on #397
I feel like I’m stating the obvious, anything that invokes UIKit code needs to be done on the main queue. You should be able to look at the call stack to find out why you’re not on the main queue.

[2020-07-09 12:55] annathomasQB opened #398 "Button Action Not working when using custom xib file"
When we add a button inside a custom xib file, its action doesn't seem to work.
I did cross-check with the demo app and could see that the buttons were added inside a stack view. When I used the xib from the demo app, it worked. But even in the demo app, if I place a button inside the topmost content view(its called Background View in the demo app's TacoDialogView.xib), adding an action to this bu

[2020-07-09 15:17] wtmoose commented on #398
I'm pretty sure you're not wiring your button up right. I attached an example of the taco dialog with an additional button that prints "Hi!" to the console when you tap it.

[Add a second button demo](https://github.com/SwiftKickMobile/SwiftMessages/files/4897657/SwiftMessages.zip)

In this case there are two buttons, so I had to add another `IBAction` to `TacoDialogView` and wire it to the new bu

[2020-07-09 17:07] FranckLetellier opened #399 "iPad 13.5.1 hit test issue when presentationContext = .window"
When I create a card view, and present it at window level on iPad, the underlying view does not respond to touch.
I managed to track the issue down to the following code :
[code]
On iPhone 13.5.1 (iphone X) everything works as expected, which mean when this code is called, view is equal to PassthroughWindow, the touch is send to the underlying view. Perfect !

However, on iPad (same code base), th

[2020-07-09 17:54] wtmoose commented on #399
This is a duplicate of #350. You can use the head of the master branch.

[2020-07-09 19:11] wtmoose commented on #352
Included in 8.0.0 release

[2020-07-09 19:11] #352 closed

[2020-07-09 19:11] wtmoose commented on #399
Included in 8.0.0 release

[2020-07-09 19:11] #399 closed

[2020-07-09 19:12] wtmoose commented on #391
Included in 8.0.0 release

[2020-07-09 19:12] #391 closed

[2020-07-09 19:12] wtmoose commented on #366
Included in 8.0.0 release

[2020-07-09 19:12] #366 closed

[2020-07-09 19:13] wtmoose commented on #365
Included in 8.0.0 release

[2020-07-09 19:13] #365 closed

[2020-07-09 19:13] wtmoose commented on #360
Included in 8.0.0 release

[2020-07-09 19:13] #360 closed

[2020-07-09 19:13] #359 closed

[2020-07-09 19:14] wtmoose commented on #355
Included in 8.0.0 release

[2020-07-09 19:14] #355 closed

[2020-07-09 19:15] wtmoose commented on #354
Included in 8.0.0 release

[2020-07-09 19:15] #354 closed

[2020-07-09 19:17] #241 closed

[2020-07-09 19:19] wtmoose commented on #105
Closing. iPad no longer defaults to full width on iPad.

[2020-07-09 19:19] #105 closed

[2020-07-09 19:20] #111 closed

[2020-07-10 09:06] FranckLetellier commented on #399
Its works perfectly on 8.0.0. Thank you so much !

[2020-07-11 05:49] thefabbulus opened #400 "Crash with SwiftMessages 8.0.0 on iOS13"
Upgrading from `7.0.1` to `8.0.0` I experience the following crash:

on line

`SwiftMessages.show(config: alertConfig, view: alertView)` where

alertconfig:

[code]

 and alertView:

[code]

[2020-07-11 15:21] wtmoose commented on #400
Try cleaning your derived data and restarting Xcode.

[2020-07-12 13:00] thefabbulus commented on #400
thanks @wtmoose, cleaning the DerivedData fixed it.

[2020-07-12 13:00] #400 closed

[2020-07-13 06:17] annathomasQB commented on #398
Wow thanks @wtmoose for your response..  I'm pretty sure I had wired up the buttons correctly. But yea your demo works great !! 😄 And in my project I've actually taken the Taco.xib file an customised it because I wasn't able to get it working with a xib that I created :/ .. but it's working for now.. :D thanks for your response.. and I'll see if I can get a demo project where the issue came up, an

[2020-07-13 06:17] #398 closed

[2020-07-22 18:35] andrewpluu opened #401 "UIAlertController pops up but SwiftMessage layer absorbs all touches (only on v8.0.0)"
I use SwiftMessages to pop up a custom UIView that has a couple of buttons. One of the buttons (delete) pops up a UIAlertController that confirms whether or not the item should be deleted.

In v 7.0.1 the UIAlertController works as expected, and the buttons on my UIAlertController alert work, allowing me to delete my item.

In 8.0.0 however, the SwiftMessage view maintains control of touch input a

[2020-07-22 18:40] willnix86 opened #402 "presentationStyle.center is not centered horizontally on iPad"
When using `presentationStyle = .center`, my custom card view shows up perfectly centered on mobile, but on iPad it is only centered vertically. Horizontally, the view sits on the left-hand side of the screen rather than completely centered

[2020-07-22 18:49] wtmoose commented on #401
Can you attach a screenshot and show some code?

[2020-07-22 18:49] wtmoose commented on #402
You on the latest version?

[2020-07-22 18:49] wtmoose commented on #397
No response. Closing

[2020-07-22 18:49] #397 closed

[2020-07-22 18:51] willnix86 commented on #397
Sorry @wtmoose - it was idiocy on my part, meant to follow up. Thank you!

[2020-07-22 18:53] willnix86 commented on #402
Using 7.0.1

[2020-07-22 18:53] wtmoose commented on #402
You need to update

[2020-07-22 19:01] willnix86 commented on #402
Just updated and still seeing the same issue, sadly.

This is how I'm creating the Message:

[code]

[2020-07-22 19:02] wtmoose commented on #402
Looks like you're using a custom nib file? I suggest taking look at the demo app to verify that the issue doesn't exist there and then take a look at your custom nib.

[2020-07-22 19:03] wtmoose commented on #402
I'll take a look at the nib file if you attach it

[2020-07-22 19:08] willnix86 commented on #402
That's very kind of you, thank you! Still a bit of a noob when it comes to xibs, so that could be the issue

[CustomCardView.xib.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/4962002/CustomCardView.xib.zip)

[2020-07-22 20:19] andrewpluu commented on #401
Code in the view controller to pop up the SwiftMessage:

        let customView = CustomView()
        var config = SwiftMessages.defaultConfig
        config.interactiveHide = true
        config.dimMode = .blur(style: .regular, alpha: 0.8, interactive: true)
        config.duration = .forever
        config.presentationStyle = .center
        SwiftMessages.show(config: config, view: customView)

[2020-07-25 19:33] wtmoose commented on #402
It looks like you based your nib file on `CardView.xib`.

`CardView.xib` is designed to have different layouts in compact width size class (iPhone) and regular width size class (iPad). The iPhone layout is full width within the margins while the iPad layout is centered and hugs the content up to a maximum 500pt width.

These layouts are accomplished by constraints on the top-level view as well as

[2020-07-25 21:16] willnix86 commented on #402
I see - I'm trying to add the extra constraints that I remove / messed up based on the CardView.xib. Annoyingly, I don't see a way to add any new constraints. None of the constraint buttons at the bottom allow me to add them, and don't see a way to add them in the right hand panel. I'm sure I'm being dense, but I feel like there must be a way to add missing bottom/trailing constraints?

[2020-07-25 21:23] willnix86 commented on #402
Ok I fixed it - ended up just copying and tweaking the source code based on the CardView xib.

Thank you SO much for your help. this is amazing!

[2020-07-25 21:31] #402 closed

[2020-07-25 22:27] wtmoose commented on #401
This was a side effect of the original fix for #360. I refined the hit test logic and it no longer breaks your use case. Can you give the head of master a try and let me know?

[2020-07-27 04:23] andrewpluu commented on #401
Works perfectly, appreciate the super-fast fix!

[2020-07-27 04:23] #401 closed

[2020-07-28 06:36] rizwan95 opened #404 "Update text in SwiftMessages view after presenting"
Is it possible to change the text in SwiftMessages after presenting a view? Basically I want to update the view.

[2020-07-28 15:20] wtmoose commented on #404
Yes, did you try?

[2020-07-28 15:56] rizwan95 commented on #404
@wtmoose  Can you give me an example on how to do it, please?

[2020-07-28 15:57] #404 closed

[2020-08-04 13:20] umtblbl opened #405 "Change the position of iconImageView?"
How can I change the position of iconImageView? Actually, what I want to do is send the iconImageView to the right, that is to the right of the post.
Don't we have such support?

[2020-08-04 14:03] #405 closed

[2020-08-04 14:10] umtblbl commented on #405
I created custom view instead 👍 The subject can be closed, good codings.

[2020-08-05 13:05] ChristianVinterly commented on #396
<img width="259" alt="Screenshot 2020-08-05 at 14 53 05" src="https://user-images.githubusercontent.com/12391750/89416065-04aa6f00-d72d-11ea-9834-8040add4e4fe.png">

It is set to 9.1

[2020-08-06 15:21] ejuden opened #406 "Just a comment on this project"
I have been writing professional software for over 25 years (not mobile) and I will have to say, this project is very well architected and written.

So flexible and so easy to use, saves so much time in software development for displaying of messages.

Thank you!

[2020-08-06 15:45] #406 closed

[2020-08-06 15:55] wtmoose commented on #406
Thanks, I appreciate the kind words. But did you close the ticket because you changed your mind?

[2020-08-06 16:20] ejuden commented on #406
No, closed it to keep the open ticket count down.  😉

On Aug 6, 2020, at 10:55 AM, Timothy Moose <notifications@github.com> wrote:

﻿

Thanks, I appreciate the kind words. But did you close the ticket because
you changed your mind?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/SwiftKickMobile/SwiftMessages/i

[2020-08-07 02:05] skheirandish opened #407 "Elements inside MaskingView can not be accessed through XCUIApplication"
This is as far as I can print in the hierarchy:

[code]

I have labeled those views for better understanding of where it stops printing.

[2020-08-07 02:07] wtmoose commented on #407
Could you elaborate please?

[2020-08-07 15:09] MrJorgeXavier opened #408 "Intermittent crash on iOS 13 version 8.0.0"
Sometimes when I call the ```SwiftMessages.show(config:, view:)``` method the application crashes. It began to happen when I updated the dependency from version 7.0.1 to 8.0.0. I would say that the frequency is pretty high, because its one of our top 3 crashes.

The code that causes the crash:
[code]
The crash stacktrace:
<img width="1242" alt="Screen Shot 2020-08-07 at 11 40 54" src="https://user

[2020-08-07 16:28] wtmoose commented on #408
Did you build the app using the iOS 13 SDK?

[2020-08-07 16:31] wtmoose commented on #408
Never mind. I don't think the code would compile if you did that.

The `overrideUserInterfaceStyle` property exists in iOS 13 and nobody else has reported this problem. So I suspect there's something unusual about your situation. Any ideas?

[2020-08-07 17:03] skheirandish commented on #407
When I print the `XCUIApplication` in debug panel I can't see elements inside `MaskingView`. All the subviews are not accessible. I have looked at the hierarchy and it seems that all container views are not accessible elements (which is the way it should be) and all my subviews, UILabels and UIButtons are accessible elements.

Basically it looks right but ultimately the view thats being presented

[2020-08-07 17:13] wtmoose commented on #407
SwiftMessages had enhanced accessibility features. As part of this, `MaskingView` is an accessibility container. Your view needs to adopt `AccessibleMessage` to integrate properly with this system. My suggestions are:

1. Read the `Accessibility` section in the Readme
2. Refer to references to `AccessibleMessage` in `Presenter` to understand how it is used.
3. Refer to references to `AccessibleMes

[2020-08-07 17:35] MrJorgeXavier commented on #408
Hmm maybe there is really something unusual.

The firebase shows that 79% of the devices where this issue occurs are jailbroken, so I think it can be something on these lines..
The problem is the other 21%, which theorically are not jailbroken devices (which is why I decided to open this issue). Maybe for some reason this 21% are in fact jailbroken but the firebase could not detect.

[2020-08-07 17:37] wtmoose commented on #408
That sounds like a plausible theory. We've had a jailbroken-only issue in the past.

[2020-08-07 17:41] wtmoose commented on #408
I don't like it much, but I can do this if you're still worried about non-jailbroken issues.

[code]

[2020-08-07 17:57] MrJorgeXavier commented on #408
I understand you, i do not like that solution very much either haha.
Since this issue only affects me, I will create a fork of this repo and try this solution and investigate more, so for now you can close this issue without doing anything. When I finish my investigation I will comment here and open a PR of the fork if possible.
This way we can avoid this workaround for now, what do you think?

[2020-08-07 17:58] wtmoose commented on #408
Sounds great. Thanks!

[2020-08-07 18:03] #408 closed

[2020-08-07 22:06] skheirandish commented on #407
Perfect, following the sample in `MessageView` helped me. Thank you.

[2020-08-17 16:54] #407 closed

[2020-08-17 17:01] wtmoose commented on #396
The deployment target of the SwiftMessages framework should be 9.0 and `TabView.xib` should be configured to build for 9.1 and later.

Is your SwiftMessages configuration different?

[2020-08-18 21:17] wtmoose commented on #378
Sorry for not addressing this in a timely manner. I don't do iMessage extensions, so I had to dig in a little bit. It seems like you're trying to present your message in its own window. I don't think you can do that. You should be using:

[code]

or

[code]

I wasn't able to reproduce your error though in the iMessageExtensionDemo sample app. Let me know if you still need help with this and I'll s

[2020-08-18 21:24] wtmoose commented on #394
I couldn't reproduce using the Demo app. Rather than running instruments, I'm showing and hiding several different message and checking the memory graph debugger to verify there are no SwiftMessages component in memory.

Please provide repro steps if you still think thee's an issue.

[2020-08-18 21:41] wtmoose commented on #386
I wasn't able to reproduce this. Sample project attached.

[Test.zip](https://github.com/SwiftKickMobile/SwiftMessages/files/5092998/Test.zip)

[2020-08-20 08:30] undeaDD commented on #396
sry for the silence on my part :D
solved it already some one day after i opened this issue

i was overriding the deployment target via podfile:
`config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '11.0'`

changed it back manually for the swiftmessages pod ^^

[2020-08-20 08:30] #396 closed

[2020-09-01 14:28] jerometonnelier opened #409 "Crash on loading MessageView"
Hi everyone,

I usually use SwiftMessages with cocoa pods and it's awesome.
But I use SPM in my project, and I get a crash when I load a simple MessageView like this :

```let view = MessageView.viewFromNib(layout: .messageView)```

Here is the stack :

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </Users/gg/Lib

[2020-09-01 14:33] wtmoose commented on #409
https://github.com/SwiftKickMobile/SwiftMessages/pull/395

[2020-09-01 14:33] #409 closed

[2020-09-01 21:52] #386 closed

[2020-09-01 21:52] #378 closed

[2020-09-01 21:53] wtmoose commented on #362
Preliminary support added in 8.0.2

[2020-09-01 21:53] #362 closed

[2020-09-01 21:53] #394 closed

[2020-09-02 06:03] jerometonnelier commented on #409
My bad, I though you supported fully the SPM now. Thanks for your help ;-)

[2020-09-02 14:24] wtmoose commented on #409
If you're using Xcode 12, you can run the pre-release `work/xcode12` branch, in which SPM does fully support SwiftMessages.

[2020-09-03 06:51] jerometonnelier commented on #409
Thanks, but I'm still using Xcode 11.
I have an issue though : when I try to archive the project, the build phase fails because the checkout folder is replaced with a release-iPhone folder in the SourcePackage :-/ Do you have any script that works for both dev and release? (sorry I never managed to master the build script :D)
Thanks.

[2020-09-03 16:00] wtmoose commented on #409
Try the script I left in a comment on #395

[2020-09-04 08:40] jerometonnelier commented on #409
Worked like a charm ;-) Thanks again for your help, much appreciated ^_^

[2020-09-14 09:43] giofid commented on #323
@Idomo, @wtmoose Is this issue related to `SwiftMessages`?  It seems to concern the [SideMenu](https://github.com/jonkykong/SideMenu) library, instead.

[2020-09-14 12:17] wtmoose commented on #323
@giofid LOL, yeah

[2020-09-14 12:17] #323 closed

[2020-09-14 14:13] giofid opened #411 "SwiftMessages showed only once when Config.duration = .forever"
Hi @wtmoose,
I try to briefly describe a potential problem found in the library.
I have a view controller `V1` that presents (modally) a view controller `V2`, and `V2` shows a swifty-message with duration set to `.forever`. If `V2` is dismissed and presented again, when it tries to show again the same swifty-message, nothing appears.

I attach a sample project: [SMExample.zip](https://github.com/S

[2020-09-14 14:36] wtmoose commented on #411
If you are using the global SwiftMessages instance, your first message will block the queue until you dismiss it. SwiftMessages does not attempt to detect when a message should be dismissed sooner than the timing you specified.

You have a couple of options:

1. Explicitly dismiss the message when the view controller is being dismissed
2. Have your view controller create and use a unique instance

[2020-09-14 15:03] giofid commented on #411
Ok. I will use option 2. It seems the most clean one.

Thank you Timothy.

[2020-09-14 15:03] #411 closed

[2020-09-15 07:13] anthonyGuiguen commented on #408
I also have this crash on jailbroken devices.

[2020-09-17 06:01] jerometonnelier commented on #409
I'm sorry to bother you again @wtmoose but I installed XCode12 yesterday, used the work/xcode12 branch, and it crashes when trying to load a MessageView. Any clue? I guess I might be doing something wrong again. Thanks ;-)

[2020-09-18 02:40] jonathanfoster opened #412 "This file is set to build for a version older than the deployment target. Functionality may be limited. [9]"
After updating to Xcode 12, I get a build warning that says "This file is set to build for a version older than the deployment target. Functionality may be limited. [9]". My deployment target is set to iOS 13 and the SwiftMessages XIBs are set to build for iOS 9.1 and Later. The warning went away after changing each of the XIBs to build for Deployment Target (12.0).

[2020-09-18 10:35] giofid opened #413 "Knowing when an hide operation is completed"
Hi @wtmoose,
In my app, I'm using **SwiftMessages** to show an activity-indicator view during a time consuming operation.
All it's ok. I found the `indefinite(delay: TimeInterval, minimum: TimeInterval)` enum case very useful.
Now, when my time consuming operation is over (a network request for example), I have to push a new view controller. If I set the `delay` property to 1s and the `minimum` pr

[2020-09-18 12:08] wtmoose commented on #413
Have you looked at `SwiftMessages.Config.eventListeners`?

[2020-09-18 12:48] giofid commented on #413
Sorry, I should have looked harder!!

However, I think `SwiftMessages.Config.eventListeners` is not suitable in my use case. `eventListeners` property has to be set when I show the activity-indicator view, but I will know what to do only after the time consuming operation is completed. For example, a network request could be finish successfully or with an error. In the former case I have to push a

[2020-09-19 15:04] AMSH92 opened #414 "Error with Xcode 12.0"
I have installed SwiftMessages through podfile, when I try to build my project I get `UNCATEGORIZED`.
Everything is working just fine with Xcode 11.7

[2020-09-19 15:11] wtmoose commented on #414
I don't know what this means. Can you elaborate?

[2020-09-19 15:14] AMSH92 commented on #414
When I try to build the project - I get this error.
Please see attachment
![Screen Shot 2020-09-19 at 6 14 02 PM](https://user-images.githubusercontent.com/19398043/93670416-e792eb00-faa3-11ea-8f6f-2bcea58cf13f.png)
![Screen Shot 2020-09-19 at 6 14 13 PM](https://user-images.githubusercontent.com/19398043/93670419-ed88cc00-faa3-11ea-8d6d-629135918f94.png)

[2020-09-19 15:16] AMSH92 commented on #414
When I try to build the project I get this error.
![Screen Shot 2020-09-19 at 6 16 09 PM](https://user-images.githubusercontent.com/19398043/93670459-33459480-faa4-11ea-8d4a-6fa9e9649283.png)